openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.9.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Account Management
paths:
  /v1/accounts/addMemoLine:
    post:
      description: This API adds a memo note on customer's account for a non-monetary
        action code, which can then be viewed by agents servicing the account in the
        future.
      operationId: AddMemoLine
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 123456789-5e72-403c-b9c1-8deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemoLineV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddMemoLineV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Add Memo Line
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Add Memo Line
  /v1/accounts/boardAccount:
    post:
      description: This API is used to board a new account. API internally generate
        a new account Id that identify the record being added.
      operationId: BoardAccount
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardAccountV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardAccountV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Board Account
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Board Account
  /v1/accounts/directedPostPayments:
    post:
      description: This API is used to add payments on a specific plan Id and account
        Id given. This API updates the open-to-buy, memo credit in real time on customer's
        account and and generate an outstanding authorization record.
      operationId: DirectedPostPayments
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectedPostPaymentV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectedPostPaymentV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Directed Post Payments
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Directed Post Payments
  /v1/accounts/monetaryAction:
    post:
      description: This API is used to add or reverse finance input to an account
        based on action code and account Id given. This API updates the open-to-buy,
        memo debit and credit in real time on customer's account and generates an
        outstanding authorization record.
      operationId: MonetaryAction
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonetaryActionV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonetaryActionV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Monetary Action
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Monetary Action
  /v1/accounts/postPayments:
    post:
      description: This API is used to add payments for a given account Id. This API
        updates the open-to-buy, memo credit in real time on customer's account and
        and generate an outstanding authorization record.
      operationId: PostPayments
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPaymentV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPaymentV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Post Payments
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Post Payments
  /v1/accounts/productTransfer:
    post:
      description: This API is used to transfer the account and all the cards associated
        to it, to a new product given in input.
      operationId: ProductTransfer
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductTransferV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductTransferV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Product Transfer
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Product Transfer
  /v1/accounts/transferPlanBalance:
    post:
      description: This API is used to transfer the balance of a plan to a different
        plan within an account. This can be used for partial/full balance transfer
        and reversals.
      operationId: TransferPlanBalance
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferPlanBalanceV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferPlanBalanceV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Transfer Plan Balance
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Transfer Plan Balance
  /v1/accounts/{accountId}/addressId:
    put:
      description: This API is used to update the address ID at account level for
        a given Account Id upon successful validation of customer ID, if given in
        the request.
      operationId: UpdateAccountAddressId
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number assigned to a customer.
        in: query
        name: customerId
        required: false
        schema:
          maxLength: 19
          type: string
          example: '0000000001000000032'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0004440010000000017'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountAddressIdV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountAddressIdV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Accounts' Address ID
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Update Accounts' Address ID
  /v1/accounts/{accountId}/behaviouralHistory:
    get:
      description: This API is used to fetch the details of 12 months behavioral history
        for a given account Id which includes cycle date/balance, cash balance, cash
        credit limit, payment amount/number, cycle to date late fee/amount, returned
        number/amount, total amount due, total past due etc.
      operationId: InquireBehaviouralHistory
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000509'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireBehaviouralHistoryV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Behavioural History
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Inquire Behavioural History
  /v1/accounts/{accountId}/billingCycle:
    put:
      description: This API is used to update the billing cycle for a given account
        Id.
      operationId: UpdateBillingCycle
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000111'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingCycleV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBillingCycleV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Billing Cycle
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Update Billing Cycle
  /v1/accounts/{accountId}/blockUnblock:
    put:
      description: This API is used to update the Account Block Code. This service
        can be called with an account Id. When either block code 1 or block code 2
        has a value other than spaces, the new block code can be applied to the unused
        entry on the account. This service is also used to remove block code from
        the account when space provided on existing block code field.
      operationId: BlockUnblockAccount
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0001000010000510481'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUnblockAccountV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUnblockAccountV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Block Unblock Account
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Block Unblock Account
  /v1/accounts/{accountId}/chargeoff:
    put:
      description: This API is used to update account charge-off status.
      operationId: UpdateAccountChargeOff
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000509'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountChargeOffV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountChargeOffV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Account Charge-Off
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Update Account Charge-Off
  /v1/accounts/{accountId}/creditLimit:
    put:
      description: This API is used to update the credit limit of the cardholder’s
        account in real time. Newly updated credit limit will be immediately available
        to use by the cardholder.
      operationId: CreditLimitUpdate
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000152'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLimitUpdateV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditLimitUpdateV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Credit limit
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Update Credit limit
  /v1/accounts/{accountId}/customersProfile:
    put:
      description: This API is used to update the various customer profiles like customer
        Id, corresponding customer Id and alternate customer details for a given account
        Id.
      operationId: UpdateCustomersProfile
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0004440010000000017'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomersProfileV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomersProfileV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Customers' Profile
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Update Customers' Profile
  /v1/accounts/{accountId}/deliquencyDetails:
    get:
      description: This API is used to fetch delinquency details for a given account
        Id like 30 to 210 day delinquent amount, last deliquent date, current cycle
        due etc.
      operationId: InquireDelinquency
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000509'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireDelinquencyV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Delinquency
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Inquire Delinquency
  /v1/accounts/{accountId}/details:
    get:
      description: The service provides account details for a given account identification.
      operationId: InquireAccount
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '200'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0002000010000403266'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireAccountV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Account
      tags:
      - Account Management
      x-group-name: Account Management
      x-proxy-name: Inquire Account
  /v1/accounts/{accountId}/directDebitControls:
    get:
      description: This API is used to fetch direct debit details for given account
        Id. It shows current parameter setup enabled for a given account Id used for
        direct debit processing.
      operationId: InquireDirectDebitControls
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
[...]
