openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.9.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Card Management
paths:
  /v1/cards/applePayPushProvisioning:
    post:
      description: This API is used for push provisioning of Visa Card. Card push
        provisioning refers to the creation of a secure digital copy of a preexisting
        card (either physical or virtual). The copy is then added to a Apple Pay wallet.
      operationId: ApplePayPushProvisioning
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayPushProvisioningV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplePayPushProvisioningV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: ApplePay Push Provisioning
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: ApplePay Push Provisioning
  /v1/cards/applePayPushProvisioningforMDES:
    post:
      description: This API is used for push provisioning of Master Card. Card push
        provisioning refers to the creation of a secure digital copy of a preexisting
        card (either physical or virtual). The copy is then added to a Apple Pay wallet.
      operationId: ApplePayPushProvisioningForMDES
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayPushProvisioningForMDEV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplePayPushProvisioningForMDEV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: ApplePay Push Provisioning For MDES
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: ApplePay MDES Push Provisioning
  /v1/cards/boardCard:
    post:
      description: This API allows to create a new card for an existing account. This
        API can be invoked with required fields and new card can be generated in real
        time mode.
      operationId: BoardCard
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCardV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCardV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Board Card
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Board Card
  /v1/cards/googlePaySamsungPayMDESPushProvisioning:
    post:
      description: This API is used for push provisioning of Master Card. Card push
        provisioning refers to the creation of a secure digital copy of a preexisting
        card (either physical or virtual). The copy is then added to a GooglePay or
        SamsungPay wallet.
      operationId: googlePaySamsungPayMDESPushProvisioning
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GooglePaySamsungPayMDESPushProvisioningV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GooglePayMDESPushMultipleAccountsV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: GooglePay SamsungPay MDES Push Provisioning
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: GooglePay - SamsungPay MDES Push Provisioning
  /v1/cards/googlePaySamsungPayPushProvisioning:
    post:
      description: This API is used for push provisioning of Visa Card. Card push
        provisioning refers to the creation of a secure digital copy of a preexisting
        card (either physical or virtual). The copy is then added to a Google Pay
        or Samsung Pay wallet.
      operationId: GooglePaySamsungPayPushProvisioning
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GooglePaySamsungPayPushProvisioningV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GooglePayEncResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: GooglePay – SamsungPay VTS Push Provisioning
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: GooglePay - SamsungPay VTS Push Provisioning
  /v1/cards/lostStolenCardTransfer:
    post:
      description: This API is used to block the lost or stolen card and request for
        the replacement card. Based on the input field values the corresponding actions
        will be taken like creating new card number and updating the existing card
        with block codes etc.
      operationId: TransferLostStolenCard
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferLostStolenCardV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferLostStolenCardV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Transfer Lost Stolen Card
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Transfer Lost Stolen Card
  /v1/cards/validateCVV2:
    post:
      description: This API is used to validate the CVV2 for a given payment instrument
        Id along with expiry date.
      operationId: CardSecureCode
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardSecureCodeV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardSecureCodeV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Validate CVV2
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Validate CVV2
  /v1/cards/{encryptedPaymentCardNumber}/customerId:
    get:
      description: This API is used to fetch customer Id for a given payment card
        number in encrypted format.
      operationId: FetchCustomerIDFromClearPAN
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - description: Unique identification number that appears on the front of the
          card (PAN) in encrypted format.
        in: path
        name: encryptedPaymentCardNumber
        required: true
        schema:
          maxLength: 32
          type: string
          example: 217E8A00536C7A101B055563FBF49C9A
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchCustomerIDFromClearPANV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Fetch customer identification from Clear PAN
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Fetch Customer ID from Clear PAN
  /v1/cards/{encryptedPaymentCardNumber}/tokenPAN:
    get:
      description: This API is used to fetch the payment instrument Id for a given
        payment card number in encrypted format.
      operationId: FetchTokenPANFromClearPAN
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - description: Unique identification number that appears on the front of the
          card (PAN) in encrypted format.
        in: path
        name: encryptedPaymentCardNumber
        required: true
        schema:
          maxLength: 32
          type: string
          example: 217E8A00536C7A101B055563FBF49C9A
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchTokenPANFromClearPANV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Fetch Token PAN from Clear PAN
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Fetch Token PAN from Clear PAN
  /v1/cards/{paymentInstrumentId}/action:
    put:
      description: This API is used to update the card action for a given payment
        instrument Id.
      operationId: UpdateCardAction
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique alternate identification number associated with Payment
          Card Number.
        in: path
        name: paymentInstrumentId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009544410000000021'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardActionV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardActionV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Card Action
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Update Card Action
  /v1/cards/{paymentInstrumentId}/activate:
    put:
      description: This API is used to activate the card after successful verification
        of the cardholder for a given payment instrument Id.
      operationId: ActivateCard
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - description: Unique alternate identification number associated with Payment
          Card Number.
        in: path
        name: paymentInstrumentId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273613'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateCardV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateCardV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Activate Card
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Activate Card
  /v1/cards/{paymentInstrumentId}/addressId:
    put:
      description: This API is used to update address ID field at card level for given
        payment instrument Id upon successful validation of customer ID, if given
        in the request.
      operationId: UpdateCardAddressId
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number assigned to a customer.
        in: query
        name: customerId
        required: false
        schema:
          maxLength: 19
          type: string
          example: '0000000001000000032'
      - description: Unique alternate identification number associated with Payment
          Card Number.
        in: path
        name: paymentInstrumentId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0004440010000000017'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardAddressIdV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardAddressIdV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Cards' Address ID
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Update Cards' Address ID
  /v1/cards/{paymentInstrumentId}/blockUnblock:
    put:
      description: This API is used to block or unblock the given payment instrument
        Id.
      operationId: BlockUnblockCard
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - description: Unique alternate identification number associated with Payment
          card number.
        in: path
        name: paymentInstrumentId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273605'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUnblockCardV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUnblockCardV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Block Unblock Card
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Block Unblock Card
  /v1/cards/{paymentInstrumentId}/clearPAN:
    get:
      description: This API is used to fetch the encrypted payment card number for
        a given payment instrument Id.
      operationId: FetchClearPANFromTokenPAN
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - description: Unique alternate identification number associated with Payment
          Card Number.
        in: path
        name: paymentInstrumentId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010273605'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchClearPANFromTokenPANV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Fetch Clear PAN from Token PAN
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Fetch Clear PAN from Token PAN
  /v1/cards/{paymentInstrumentId}/controlDetails:
    get:
      description: This API is used to fetch the card control restriction flags for
        a given payment instrument Id and provide details whether the ATM, POS, ECOM
        etc transitions are enabled or disabled.
      operationId: InquireCardControls
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - description: Unique alternate identification number associated with Payment
          card number.
        in: path
        name: paymentInstrumentId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010434751'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardControlV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Card Controls
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Inquire Card Controls
  /v1/cards/{paymentInstrumentId}/controls:
    put:
      description: This API is used to update the card control restriction flags for
        a given payment instrument Id and provide details whether the ATM, POS, ECOM
        etc transitions are enabled or disabled.
      operationId: UpdateCardControls
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '100'
      - description: Unique alternate identification number associated with Payment
          Card Number.
        in: path
        name: paymentInstrumentId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009846801010434751'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardControlV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardControlV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Card Controls
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Update Card Controls
  /v1/cards/{paymentInstrumentId}/details:
    get:
      description: This API is used to fetch detailed information for a given payment
        instrument Id. This API response provides information about card demographic
        and processing parameters.
      operationId: InquireCard
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique alternate identification number associated with Payment
          Card Number.
        in: path
        name: paymentInstrumentId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0009544410000000047'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
[...]
