openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.9.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Customer Management
paths:
  /v1/customers/boardCustomer:
    post:
      description: This API is used to create a new customer Id with customer's demographic
        details.
      operationId: BoardCustomer
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCustomerV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCustomerV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Board Customer
      tags:
      - Customer Management
      x-group-name: Customer Management
      x-proxy-name: Board Customer
  /v1/customers/searchCustomer:
    post:
      description: This API is used to fetch customer's information based on primary
        and optional search values like last name, identification number, phone number
        etc.
      operationId: SearchCustomer
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCustomerV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCustomerV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Search Customer
      tags:
      - Customer Management
      x-group-name: Customer Management
      x-proxy-name: Search Customer
  /v1/customers/{customerId}/accountList:
    get:
      description: This API is used to fetch list of accounts and its details associated
        with a customer Id along with customer demographic information.
      operationId: ListCustomersAccounts
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number assigned to a customer.
        in: path
        name: customerId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000707'
      - description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersAccountV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: List Customer's Accounts
      tags:
      - Customer Management
      x-group-name: Customer Management
      x-proxy-name: List Customers' Accounts
  /v1/customers/{customerId}/cardList:
    get:
      description: This API is used to fetch the list of cards and its details associated
        with a customer Id along with customer demographic information.
      operationId: ListCustomersCards
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number assigned to a customer.
        in: path
        name: customerId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000707'
      - description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: List Customer's Cards
      tags:
      - Customer Management
      x-group-name: Customer Management
      x-proxy-name: List Customers' Cards
  /v1/customers/{customerId}/listCustomersCardsAndAccounts:
    get:
      description: This API is used to fetch the list of accounts, list of cards and
        its details associated with a customer Id along with demographic details.
      operationId: ListCustomersCardsAndAccounts
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number assigned to a customer.
        in: path
        name: customerId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000011000000707'
      - description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardsAndAccountV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: List Customers' Cards And Accounts
      tags:
      - Customer Management
      x-group-name: Customer Management
      x-proxy-name: List Customers' Cards And Accounts
  /v1/customers/{customerId}/nameAddress:
    get:
      description: This API used to fetch the customer demographic details such as
        Name / Address / Phone Number / Email ID/ Date of Birth of the given customer
        Id.
      operationId: InquireCustomer
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '200'
      - description: Unique identification number assigned to a customer.
        in: path
        name: customerId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000065439605'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCustomerV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Customer
      tags:
      - Customer Management
      x-group-name: Customer Management
      x-proxy-name: Inquire Customer
    put:
      description: This API is used to update the customer demographic details such
        as Name / Address / Phone Number / Email ID/ Date of Birth of the given customer
        Id.
      operationId: UpdateCustomer
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values are 1-998. Business Unit is mandatory when customer Id is built
          outside First Vision.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '200'
      - description: Unique identification number assigned to a customer.
        in: path
        name: customerId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000020000065439605'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Customer
      tags:
      - Customer Management
      x-group-name: Customer Management
      x-proxy-name: Update Customer
  /v1/customers/{externalContractId}/listExternalCustomersCardsAndAccounts:
    get:
      description: This API is used to fetch the list of accounts, list of cards and
        it's details associated with an external contract Id.
      operationId: ListExternalCustomersCardsAndAccounts
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number assigned to a customer from external
          system.
        in: path
        name: externalContractId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0000000000012672379'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExternalCustomersCardsAndAccountV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: List External Customers' Cards and Accounts
      tags:
      - Customer Management
      x-group-name: Customer Management
      x-proxy-name: List External Customers' Cards and Accounts
components:
  schemas:
    AccountList_ListCustomersAccountV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0001000011000052268'
        addressId:
          maxLength: 15
          type: string
          description: 'Address identifier to determine the type of address. Ex: Home,
            Office, etc.'
          example: HOME
        blockCode1:
          maxLength: 1
          type: string
          description: Field that identifies the block code assigned to the account.
            Block code controls specific processing options at the account level.
            Valid block codes are from A to Z and space.
          example: A
        blockCode1Date:
          maxLength: 10
          type: string
          description: Date the Block Code 1 is applied on the account, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 19/08/2021
        blockCode2:
          maxLength: 1
          type: string
          description: Field that identifies the block code assigned to the account.
            Block code controls specific processing options at the account level.
            Valid block codes are from A to Z and space.
          example: ' '
        blockCode2Date:
          maxLength: 10
          type: string
          description: Date the Block Code 2 is applied on the account, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        ddaAccountId:
          maxLength: 17
          type: string
          description: Demand deposit account (DDA) number associated with direct
            debit processing.
          example: '890005226'
        externalContractId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer from external
            system.
          example: '0000000000012672379'
        isSuppressTokenEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates whether the account is eligible for tokenization.
            <br/>The values are:<br/> &nbsp; '0' - Suppress token functionality is
            inactive for the account <br/> &nbsp; '1' - Suppress token functionality
            is active for the account
          example: '0'
        mailingIndicator:
          maximum: 9
          maxLength: 1
          type: integer
          description: Mailing Indicator indicate the mails to be sent to Office Address
            or Home Address.
          example: '0'
        memoCreditAmount:
          maxLength: 24
          type: string
          description: Amount of outstanding memo credits for the account.
          example: $0.00
        memoDebitAmount:
          maxLength: 24
          type: string
          description: Amount of outstanding memo debits for the account.
          example: $0.00
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '1'
        reissueControlMethod:
          maximum: 9
          maxLength: 1
          type: integer
          description: Number that indicates whether the account is controlled by
            TRIAD for reissue processing. <br/>The values are:<br/> &nbsp; '0' - TRIAD
            controls the account during reissue processing <br/> &nbsp; '1' or '2'
            - VisionPLUS controls the account during reissue processing
          example: '0'
        status:
          maxLength: 1
          type: string
          description: Code that identifies the status of the account. This field
            is not editable during add mode; it displays during maintenance mode and
            inquiry mode only.<br/>The values are:<br/>&nbsp; 'A' - Active <br/>&nbsp;
            'B' - Conversion fraud <br/>&nbsp; 'C' - Conversion transfer <br/>&nbsp;
            'D' - Dormant <br/>&nbsp; 'F' - Fraud transfer <br/>&nbsp; 'H' - Closed/conversion
            <br/>&nbsp; 'I' - Inactive <br/>&nbsp; 'J' - Transfer in, migrated from
            inactive <br/>&nbsp; 'K' - Transfer out, migrated from inactive <br/>&nbsp;
            'M' - Migrated <br/>&nbsp; 'N' - New <br/>&nbsp; 'P' - To be purged in
            next reload <br/>&nbsp; 'Q' - Transfer in today <br/>&nbsp; 'R' - Transfer
            out today <br/>&nbsp; 'T' - Transfer <br/>&nbsp; 'V' - Conversion <br/>&nbsp;
            'X' - Charge-off/conversion <br/>&nbsp; 'Z' - Charge-off <br/>&nbsp; '8'
            - Closed <br/>&nbsp; '9' - To be purged after reload
          example: D
        totalTokenizedCardCount:
          maximum: 99
          maxLength: 2
          type: integer
          description: Number of wallet cards associated with account.
          example: '0'
    AccountList_ListCustomersCardsAndAccountV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0001000011000052268'
        addressId:
          maxLength: 15
          type: string
          description: 'Address identifier to determine the type of address. Ex: Home,
            Office, etc.'
          example: HOME
        blockCode1:
          maxLength: 1
          type: string
          description: Field that identifies the block code assigned to the account.
            Block code controls specific processing options at the account level.
            Valid block codes are from A to Z and space.
          example: A
        blockCode1Date:
          maxLength: 10
          type: string
          description: Date the Block Code 1 is applied on the account, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 19/08/2021
        blockCode2:
          maxLength: 1
          type: string
          description: Field that identifies the block code assigned to the account.
            Block code controls specific processing options at the account level.
            Valid block codes are from A to Z and space.
          example: ' '
        blockCode2Date:
          maxLength: 10
          type: string
          description: Date the Block Code 2 is applied on the account, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        ddaAccountId:
          maxLength: 17
          type: string
          description: Demand deposit account (DDA) number associated with direct
            debit processing.
          example: '890005226'
        externalContractId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer from external
            system.
          example: '0000000000012672379'
        isSuppressTokenEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates whether the account is eligible for tokenization.
            <br/>The values are:<br/> &nbsp; '0' - Suppress token functionality is
            inactive for the account <br/> &nbsp; '1' - Suppress token functionality
            is active for the account
          example: '0'
        mailingIndicator:
          maxLength: 1
          type: string
          description: Mailing Indicator indicate the mails to be sent to Office Address
            or Home Address.
          example: ' '
        memoCreditAmount:
          maxLength: 24
          type: string
          description: Amount of outstanding memo credits for the account.
          example: $0.00
        memoDebitAmount:
          maxLength: 24
          type: string
          description: Amount of outstanding memo debits for the account.
          example: $0.00
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '1'
        reissueControlMethod:
          maximum: 9
          maxLength: 1
          type: integer
          description: Number that indicates whether the account is controlled by
            TRIAD for reissue processing. <br/>The values are:<br/> &nbsp; '0' - TRIAD
            controls the account during reissue processing <br/> &nbsp; '1' or '2'
            - VisionPLUS controls the account during reissue processing
          example: '0'
        status:
          maxLength: 1
          type: string
          description: Code that identifies the status of the account. This field
            is not editable during add mode; it displays during maintenance mode and
            inquiry mode only.<br/>The values are:<br/>&nbsp; 'A' - Active <br/>&nbsp;
            'B' - Conversion fraud <br/>&nbsp; 'C' - Conversion transfer <br/>&nbsp;
            'D' - Dormant <br/>&nbsp; 'F' - Fraud transfer <br/>&nbsp; 'H' - Closed/conversion
            <br/>&nbsp; 'I' - Inactive <br/>&nbsp; 'J' - Transfer in, migrated from
            inactive <br/>&nbsp; 'K' - Transfer out, migrated from inactive <br/>&nbsp;
            'M' - Migrated <br/>&nbsp; 'N' - New <br/>&nbsp; 'P' - To be purged in
            next reload <br/>&nbsp; 'Q' - Transfer in today <br/>&nbsp; 'R' - Transfer
            out today <br/>&nbsp; 'T' - Transfer <br/>&nbsp; 'V' - Conversion <br/>&nbsp;
            'X' - Charge-off/conversion <br/>&nbsp; 'Z' - Charge-off <br/>&nbsp; '8'
            - Closed <br/>&nbsp; '9' - To be purged after reload
          example: D
        totalTokenizedCardCount:
          maximum: 99
          maxLength: 2
          type: integer
          description: Number of wallet cards associated with account.
          example: '0'
    AccountList_ListExternalCustomersCardsAndAccountV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0006000012000000256'
        addressId:
          maxLength: 15
          type: string
          description: 'Address identifier to determine the type of address. Ex: Home,
            Office, etc.'
          example: RESIDENTIAL
        blockCode1:
          maxLength: 1
          type: string
          description: This field identifies the block code assigned to this account.
            Block codes control specific processing options at the account level.
            Valid block codes are the letters A to Z and blank (or space).
          example: A
        blockCode2:
          maxLength: 1
          type: string
          description: This field identifies the block code assigned to this account.
            Block codes control specific processing options at the account level.
            Valid block codes are the letters A to Z and blank (or space).
          example: ' '
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0000020000065439605'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values from 1-998.
          example: '1'
        residenceId:
          maxLength: 3
          type: string
          description: This flag identifies the state, province or country in which
            the  account holder resides.
          example: SX1
        shortName:
          maxLength: 20
          type: string
          description: This is the short name of the account holder.
          example: Dhruv
        status:
          maxLength: 1
          type: string
          description: Code that identifies the status of the account. This field
            is not editable during add mode; it displays during maintenance mode and
            inquiry mode only.<br/>The values are:<br/>&nbsp; 'A' - Active <br/>&nbsp;
            'B' - Conversion fraud <br/>&nbsp; 'C' - Conversion transfer <br/>&nbsp;
            'D' - Dormant <br/>&nbsp; 'F' - Fraud transfer <br/>&nbsp; 'H' - Closed/conversion
            <br/>&nbsp; 'I' - Inactive <br/>&nbsp; 'J' - Transfer in, migrated from
            inactive <br/>&nbsp; 'K' - Transfer out, migrated from inactive <br/>&nbsp;
            'M' - Migrated <br/>&nbsp; 'N' - New <br/>&nbsp; 'P' - To be purged in
            next reload <br/>&nbsp; 'Q' - Transfer in today <br/>&nbsp; 'R' - Transfer
            out today <br/>&nbsp; 'T' - Transfer <br/>&nbsp; 'V' - Conversion <br/>&nbsp;
            'X' - Charge-off/conversion <br/>&nbsp; 'Z' - Charge-off <br/>&nbsp; '8'
            - Closed <br/>&nbsp; '9' - To be purged after reload
          example: A
        transferFromOrTransferToAccountId:
          maxLength: 19
          type: string
          description: Associated transfer from or transfer to account.
          example: '0006000012000000123'
    BoardCustomerV1ReqModel:
      required:
      - businessUnit
      - customerId
      - productId
      type: object
      properties:
        addressData:
          type: object
          properties:
            addressLine1:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: House No. 12
            addressLine2:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: S.H. Qo
            addressLine3:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: California
            addressLine4:
              maxLength: 40
              type: string
              description: This is mailing address for the owner.
              example: USA
            city:
              maxLength: 30
              type: string
              description: City portion of the mailing address of the owner.
              example: La Vegas
            countryCode:
              maxLength: 3
              type: string
              description: The value entered must be a valid country code previously
                defined in the Security Subsystem and Common Routines (SSC) system.
              example: USA
            postalCode:
              maxLength: 10
              type: string
              description: Postal code portion of the mailing address of the owner.
              example: '112345'
            state:
              maxLength: 3
              type: string
              description: Name of state portion of the mailinga ddress of the owner.
              example: CL
        alternateEmailAddress:
          maxLength: 50
          type: string
          description: This field indicates alternate e-mail address of the owner.
          example: abc1@google.com
        birthDate:
          maxLength: 10
          type: string
          description: Date Of Birth of the owner, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 01/02/2010
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        customerId:
          maxLength: 19
          type: string
          description: This is the identification number to assign to the new Customer
            Name/Address entity. <br/>The values are:<br/> &nbsp; Alphanumeric - Predetermined
            customer number <br/> &nbsp; / (slash) - CMS uses the account number assigned
            to the Account Base Segment entity
          example: '0000000993456711108'
        dualFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: 'This field indicates whether CMS adds a duplicate customer
            entity in the associated business unit for dual currency processing. <br/>The
            values are: <br/> &nbsp; ''0'' - Do not duplicate the customer entity
            in the associated business unit (Default) <br/> &nbsp; ''1'' - Duplicate
            the customer entity in the associated business unit'
          example: '0'
          enum:
          - 0
          - 1
        emailAddress:
          maxLength: 60
          type: string
          description: This field indicates e-mail address of the owner.
          example: abc@goole.com
        emailAddressFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field indicates whether you have the owner’s permission
            to use this e-mail address. <br/>The values are:<br/> &nbsp; '0' - No,
            owner may not be contacted using this e-mail address (Default) <br/> &nbsp;
            '1' - Yes, owner may be contacted using this e-mail address <br/> &nbsp;
            '2' - Preferred contact method
          example: '1'
          enum:
          - 0
          - 1
          - 2
        employeePhone:
          maxLength: 20
          type: string
          description: This field is the work telephone number.
          example: '67894'
        externalId:
          maxLength: 25
          type: string
          description: This field identifies the Social Security number or tax identification
            number.
          example: 2363-12-2839-1
        gender:
          maximum: 9
          maxLength: 1
          type: integer
          description: This flag indicates the onwer's gender. <br/>The values are:<br/>
            &nbsp; '0' - Unspecified (Default) <br/> &nbsp; '1' - Male <br/> &nbsp;
            '2' - Female
          example: '1'
          enum:
          - 0
          - 1
          - 2
        homePhone:
          maxLength: 20
          type: string
          description: This field is the owner’s home telephone number.
          example: '11230342'
        mobileNumber:
          maxLength: 20
          type: string
          description: This field indicates the owner’s mobile number.
          example: '11231232'
        nameTypeIndicator1:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field identifies the type of the customer. <br/>The values
            are:<br/> &nbsp; '0' - Customer entity Associated With Personal Account
            (Default) <br/> &nbsp; '1' - Customer entity Is Associated With Business<br/>
            &nbsp; '3' - Customer entity Is A Generic Customer
          example: '0'
          enum:
          - 0
          - 1
          - 3
        nameTypeIndicator2:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field identifies the type of the customer. <br/>The values
            are:<br/> &nbsp; '0' - Customer entity Associated With Personal Account
            (Default) <br/> &nbsp; '1' - Customer entity Is Associated With Business<br/>
            &nbsp; '3' - Customer entity Is A Generic Customer
          example: '0'
          enum:
          - 0
          - 1
          - 3
        nameTypeIndicator3:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field identifies the type of the customer. <br/>The values
            are:<br/> &nbsp; '0' - Customer entity Associated With Personal Account
            (Default) <br/> &nbsp; '1' - Customer entity Is Associated With Business<br/>
            &nbsp; '3' - Customer entity Is A Generic Customer
          example: '0'
          enum:
          - 0
          - 1
          - 3
        namesData:
          required:
          - givenName
          type: object
          properties:
            birthName:
              maxLength: 40
              type: string
              description: This field indicates the last name of the owner.
              example: Christopher
            givenName:
              maxLength: 40
              type: string
              description: This field indicates the first name of the owner.
              example: Samuel
            middleName:
              maxLength: 40
              type: string
              description: This field indicates the middle name of the owner.
              example: ' '
            nameLine1:
              maxLength: 40
              type: string
              description: This field indicates the owner personal name, business
                name, or a generic name.
              example: John
            nameLine2:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: 'Jacob '
            nameLine3:
              maxLength: 40
              type: string
              description: This field indicates the owner name.
              example: Samuel
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '2'
        residentialFlag:
          maximum: 9
          maxLength: 1
          type: integer
          description: This code indicates whether the owner owns or rents their primary
            residence. <br/>The values are:<br/> &nbsp; '0' - Unknown or unused (Default)
            <br/> &nbsp; '1' - Owns or is buying a home <br/> &nbsp; '2' - Rents or
            leases a home <br/> &nbsp; '3' - Neither owns nor rents primary residence
          example: '1'
          enum:
          - 0
          - 1
          - 2
          - 3
        title:
          maxLength: 20
          type: string
          description: Professional or honorary title associated with the owner name
            entered in the NAME LINE 1 field.
          example: Mr
    BoardCustomerV1ResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0000000001000000007'
    CardList_ListCustomersCardV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0001000011000052268'
        addressId:
          maxLength: 15
          type: string
          description: 'Address identifier to determine the type of address. Ex: Home,
            Office, etc.'
          example: HOME
        blockCode:
          maxLength: 1
          type: string
          description: Block Code assigned to the cardholder.
          example: A
        blockCodeDate:
          maxLength: 10
          type: string
          description: Date the Block Code was assigned, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        cardActivatedDate:
          maxLength: 10
          type: string
          description: Date on which the card is activated, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        cardHolderType:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates whether the cardholder is the primary cardholder
            or an additional cardholder associated with the account. <br/>The values
            are:<br/>&nbsp; '0' - Additional cardholder<br/>&nbsp; '1' - Primary cardholder
          example: '1'
        cardIssueDate:
          maxLength: 10
          type: string
          description: The date when the most recently issued card was produced, The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
            Control.
          example: 28/09/2020
        cardOpenedDate:
          maxLength: 10
          type: string
          description: Date the Card is issued, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 17/09/2020
        cardTechnology:
          maximum: 9
          maxLength: 1
          type: integer
          description: This is the flag that identifies the current card technology.
            <br/>The values are:<br/> &nbsp; '0' - Magnetic-stripe card(s) are on
            issue <br/> &nbsp; '1' - Smart card(s) are on issue <br/> &nbsp; '2' -
            Magnetic-stripe contactless card(s) are on issue <br/> &nbsp; '3' - Smart
            contactless card(s) are on issue <br/> &nbsp; '4' - Mobile magnetic-stripe
            contactless payment instruments (PI) are on provision <br/> &nbsp; '5'
            - Mobile smart contactless PIs are on provision
          example: '3'
        chequeAccountId:
          maxLength: 19
          type: string
          description: Checking Account associated with the card (Debit Card Only).
          example: ' '
        currentCardAction:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is the card issue action code that determines the
            action system performs during the next run. <br/>The values are:<br/>
            &nbsp; '0' - No action. No cards requested <br/> &nbsp; '1' - Issue new
            card(s). If applicable, also issue a PIN mailer <br/> &nbsp; '2' - Issue
            additional card(s). Value 2 is not valid for smart cards <br/> &nbsp;
            '3' - Issue replacement card(s) <br/> &nbsp; '4' - Returned cards <br/>
            &nbsp; '5' - Produce a new PIN mailer <br/> &nbsp; '6' - Issue emergency
            replacement card(s). Use this value if a card is lost or stolen and the
            replacement card is to be embossed and mailed within 24 hour <br/> &nbsp;
            '7' - Reissue card <br/> &nbsp; '8' - Reissue card with different card
            numbering scheme (CNS) <br/> &nbsp; '9' - Card technology reissue
          example: '0'
        currentCardNeedActivation:
          maxLength: 1
          type: string
          description: This field indicates whether card activation needs to occur
            for the most recently issued card. <br/>The values are:<br/>&nbsp; 'N'
            - No card activation is required or card activation has already occurred<br/>&nbsp;
            'Y' - Card activation needs to occur
          example: Y
        dateLastPlasticUsed:
          maxLength: 10
          type: string
          description: Date the last plastic is used, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 10/02/2021
        digitalID:
          maxLength: 10
          type: string
          description: Identification Code that is used in provisioning response.
          example: ' '
        embosserName2:
          maxLength: 26
          type: string
          description: Additional name to be embossed on the second embossing line
            of the card.
          example: ' '
        expirationDate:
          maxLength: 10
          type: string
          description: Date on which the most recently issued card expires, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 16/09/2023
        externalContractId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer from external
            system.
          example: '0000000000012672379'
        isAtmEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a ATM based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; 'Y' - ATM transactions allowed
            <br/> &nbsp; 'N' - ATM transactions not allowed
          example: Y
        isCashBackEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable cashback at POS  transaction for
            a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - Cash Back transactions
            allowed <br/> &nbsp; 'N' - Cash Back transactions not allowed
          example: Y
        isEcomEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This is to enable or disable  ECOMM based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; '1' - ECOMM transactions
            allowed <br/> &nbsp; '0' - ECOMM transactions not allowed
          example: '1'
        isInternationalAtmPosEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable an international ATM or POS  based
            transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - International
            ATM or POS transactions allowed <br/> &nbsp; 'N' - International ATM or
            POS transactions not allowed
          example: Y
        isMotoEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a Mobile based transaction for
            a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - MOTO transactions
            allowed <br/> &nbsp; 'N' - MOTO transactions not allowed
          example: N
        isPayWaveEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a Contactless or Paywave based
            transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - PayWave
            transactions allowed <br/> &nbsp; 'N' - PayWave transactions not allowed
          example: Y
        isPosEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a POS based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; 'Y' - POS transactions allowed
            <br/> &nbsp; 'N' - POS transactions not allowed
          example: Y
        lastCardAction:
          maximum: 9
          maxLength: 1
          type: integer
          description: Last Embossing Action requested on the card.  <br/>The values
            are:<br/> &nbsp; '0' - No action. No cards requested <br/> &nbsp; '1'
            - Issue new card(s). If applicable, also issue a PIN mailer <br/> &nbsp;
            '2' - Issue additional card(s). Value 2 is not valid for smart cards <br/>
            &nbsp; '3' - Issue replacement card(s) <br/> &nbsp; '4' - Returned cards
            <br/> &nbsp; '5' - Produce a new PIN mailer <br/> &nbsp; '6' - Issue emergency
            replacement card(s). Use this value if a card is lost or stolen and the
            replacement card is to be embossed and mailed within 24 hour <br/> &nbsp;
            '7' - Reissue card <br/> &nbsp; '8' - Reissue card with different card
            numbering scheme (CNS) <br/> &nbsp; '9' - Card technology reissue
          example: '1'
        lastCardExpirationDate:
          maxLength: 10
          type: string
          description: Date on which the previously issued card expired, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        lastCardNeedActivation:
          maxLength: 1
          type: string
          description: This field indicates whether card activation needs to occur
            for the previously issued card. <br/>The values are:<br/>&nbsp; 'N' -
            No card activation is required or card activation has already occurred<br/>&nbsp;
            'Y' - Card activation needs to occur
          example: Y
        lastPlasticIssueDate:
          maximum: 999999
          maxLength: 6
          type: integer
          description: Time when the last plastic was issued.
          example: '131201'
        lastPlasticSuppressedDate:
          maxLength: 10
          type: string
          description: Date the last plastic usage is suppressed,The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: '0'
        lastWalletUsedDate:
          maxLength: 10
          type: string
          description: Date the last wallet associated with card is used, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: '0'
        maskedPaymentCardNumber:
          maxLength: 19
          type: string
          description: Masked Card number of the actual card number associated with
            the card Id.
          example: 000984680XXXXXX9405
        mccLimit01:
          maxLength: 18
          type: string
          description: Occurence-1 of the MCC limit applied on the card.
          example: $0.01
        mccLimit02:
          maxLength: 18
          type: string
          description: Occurence-2 of the MCC limit applied on the card.
          example: $0.00
        mccLimit03:
          maxLength: 18
          type: string
          description: Occurence-3 of the MCC limit applied on the card.
          example: $0.00
        mccLimit04:
          maxLength: 18
          type: string
          description: Occurence-4 of the MCC limit applied on the card.
          example: $0.00
        mccLimit05:
          maxLength: 18
          type: string
          description: Occurence-5 of the MCC limit applied on the card.
          example: $0.00
        mccLimit06:
          maxLength: 18
          type: string
          description: Occurence-6 of the MCC limit applied on the card.
          example: $0.00
        mccLimit07:
          maxLength: 18
          type: string
          description: Occurence-7 of the MCC limit applied on the card.
          example: $0.00
        mccLimit08:
          maxLength: 18
          type: string
          description: Occurence-8 of the MCC limit applied on the card.
          example: $0.00
        mccLimit09:
          maxLength: 18
          type: string
          description: Occurence-9 of the MCC limit applied on the card.
          example: $0.00
        mccLimit10:
          maxLength: 18
          type: string
          description: Occurence-10 of the MCC limit applied on the card.
          example: $0.00
        nameOnCard:
          maxLength: 26
          type: string
          description: Embossed Name On Card.
          example: U T UATMLNCUST448
        paymentInstrumentId:
          maxLength: 19
          type: string
          description: Unique alternate identification number associated with Payment
            card number.
          example: '0009846801010009405'
        physicalVirtualIndicator:
          maxLength: 1
          type: string
          description: 'Indicates the card is physical or virtual. <br/>The values
            are: <br/>&nbsp; ''P'' - Physical Card<br/>&nbsp; ''V'' - Virtual Card'
          example: V
        plasticId:
          maxLength: 10
          type: string
          description: 'User-defined code that identifies the plastic stock used to
            create a card for this Embosser record. For HCS-associated accounts, this
            value defaults from the Company Product record '
          example: ' '
        plasticSuppressStatus:
          maxLength: 1
          type: string
          description: Flag for plastic usage suppression. <br/>The values are:<br/>
            &nbsp; 'N' - Don't suppress <br/> &nbsp; 'I' - Suppress due to inactivity
            <br/> &nbsp; 'P' - Suppressed due to Partial Address/Return mail
          example: N
        productDescription:
          maxLength: 30
          type: string
          description: This field is the description of the Logo record. This description
            enables you to identify the kind of accounts/cards processed by this product.
          example: VISA PLATINUM DEBIT
        savingsAccountId:
          maxLength: 17
          type: string
          description: Saving Account associated with the card (Debit Card Only).
          example: ' '
        status:
          maxLength: 1
          type: string
          description: Status of payment instrument identification. <br/>The value
            are:<br/>&nbsp; '0' - Permanent<br/>&nbsp; '1' - Temporary<br/>&nbsp;
            'T' - Transfer<br/>&nbsp; 'P' - Purged<br/>&nbsp; 'F' - Fraud<br/>&nbsp;
            'S' - Chip Exceeded<br/>&nbsp; 'X' - Fraud X
          example: '0'
        tokenCount:
          maximum: 99
          maxLength: 2
          type: integer
          description: Number of wallet token associated with card.
          example: '0'
        warningCode1:
          maxLength: 1
          type: string
          description: This field determine whether to authorize or decline authorizations
            for this card. <br/>The values are:<br/> &nbsp; '0' or ' ' - Normal authorizations
            (Default) <br/> &nbsp; '1' - Decline <br/> &nbsp; '2' - Decline and pick
            up <br/> &nbsp; '3' - Decline and pick up for fraud or lost/stolen card
            <br/> &nbsp; '4' - Decline with referral <br/> &nbsp; '6' - Decline for
            suspected fraud <br/> &nbsp; '8' - Decline with a user exit <br/> &nbsp;
            '9' - VIP account, always approve
          example: '0'
    CardList_ListCustomersCardsAndAccountV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0001000011000052268'
        addressId:
          maxLength: 15
          type: string
          description: 'Address identifier to determine the type of address. Ex: Home,
            Office, etc.'
          example: HOME
        blockCode:
          maxLength: 1
          type: string
          description: Block Code assigned to the cardholder.
          example: ' '
        blockCodeDate:
          maxLength: 10
          type: string
          description: Date the Block Code was assigned, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        cardActivatedDate:
          maxLength: 10
          type: string
          description: Date on which the card is activated, The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        cardHolderType:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates whether the cardholder is the primary cardholder
            or an additional cardholder associated with the account. <br/>The values
            are:<br/>&nbsp; '0' - Additional cardholder<br/>&nbsp; '1' - Primary cardholder
          example: '1'
        cardIssueDate:
          maxLength: 10
          type: string
          description: The date when the most recently issued card was produced, The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
            Control.
          example: 28/09/2020
        cardOpenedDate:
          maxLength: 10
          type: string
          description: Date the Card is issued, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 17/09/2020
        cardTechnology:
          maximum: 9
          maxLength: 1
          type: integer
          description: This is the flag that identifies the current card technology.
            <br/>The values are:<br/> &nbsp; '0' - Magnetic-stripe card(s) are on
            issue <br/> &nbsp; '1' - Smart card(s) are on issue <br/> &nbsp; '2' -
            Magnetic-stripe contactless card(s) are on issue <br/> &nbsp; '3' - Smart
            contactless card(s) are on issue <br/> &nbsp; '4' - Mobile magnetic-stripe
            contactless payment instruments (PI) are on provision <br/> &nbsp; '5'
            - Mobile smart contactless PIs are on provision
          example: '3'
        chequeAccountId:
          maxLength: 19
          type: string
          description: Checking Account associated with the card (Debit Card Only).
          example: ' '
        currentCardAction:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is the card issue action code that determines the
            action system performs during the next run. <br/>The values are:<br/>
            &nbsp; '0' - No action. No cards requested <br/> &nbsp; '1' - Issue new
            card(s). If applicable, also issue a PIN mailer <br/> &nbsp; '2' - Issue
            additional card(s). Value 2 is not valid for smart cards <br/> &nbsp;
            '3' - Issue replacement card(s) <br/> &nbsp; '4' - Returned cards <br/>
            &nbsp; '5' - Produce a new PIN mailer <br/> &nbsp; '6' - Issue emergency
            replacement card(s). Use this value if a card is lost or stolen and the
            replacement card is to be embossed and mailed within 24 hour <br/> &nbsp;
            '7' - Reissue card <br/> &nbsp; '8' - Reissue card with different card
            numbering scheme (CNS) <br/> &nbsp; '9' - Card technology reissue
          example: '0'
        currentCardNeedActivation:
          maxLength: 1
          type: string
          description: This field indicates whether card activation needs to occur
            for the most recently issued card. <br/>The values are:<br/>&nbsp; 'N'
            - No card activation is required or card activation has already occurred<br/>&nbsp;
            'Y' - Card activation needs to occur
          example: Y
        digitalID:
          maxLength: 10
          type: string
          description: Identification Code that is used in provisioning response.
          example: ' '
        embosserName2:
          maxLength: 26
          type: string
          description: Additional name to be embossed on the second embossing line
            of the card.
          example: ' '
        expirationDate:
          maxLength: 10
          type: string
          description: Date on which the most recently issued card expires, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 16/09/2023
        externalContractId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer from external
            system.
          example: '0000000000012672379'
        isAtmEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a ATM based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; 'Y' - ATM transactions allowed
            <br/> &nbsp; 'N' - ATM transactions not allowed
          example: Y
        isCashBackEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable cashback at POS  transaction for
            a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - Cash Back transactions
            allowed <br/> &nbsp; 'N' - Cash Back transactions not allowed
          example: Y
        isEcomEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This is to enable or disable  ECOMM based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; '1' - ECOMM transactions
            allowed <br/> &nbsp; '0' - ECOMM transactions not allowed
          example: '1'
        isInternationalAtmPosEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable an international ATM or POS  based
            transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - International
            ATM or POS transactions allowed <br/> &nbsp; 'N' - International ATM or
            POS transactions not allowed
          example: Y
        isMotoEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a Mobile based transaction for
            a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - MOTO transactions
            allowed <br/> &nbsp; 'N' - MOTO transactions not allowed
          example: N
        isPayWaveEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a Contactless or Paywave based
            transaction for a cardholder. <br/>The values are:<br/> &nbsp; 'Y' - PayWave
            transactions allowed <br/> &nbsp; 'N' - PayWave transactions not allowed
          example: Y
        isPosEnabled:
          maxLength: 1
          type: string
          description: This is to enable or disable a POS based transaction for a
            cardholder. <br/>The values are:<br/> &nbsp; 'Y' - POS transactions allowed
            <br/> &nbsp; 'N' - POS transactions not allowed
          example: Y
        lastCardAction:
          maximum: 9
          maxLength: 1
          type: integer
          description: Last Embossing Action requested on the card. <br/>The values
            are:<br/> &nbsp; '0' - No action. No cards requested <br/> &nbsp; '1'
            - Issue new card(s). If applicable, also issue a PIN mailer <br/> &nbsp;
            '2' - Issue additional card(s). Value 2 is not valid for smart cards <br/>
            &nbsp; '3' - Issue replacement card(s) <br/> &nbsp; '4' - Returned cards
            <br/> &nbsp; '5' - Produce a new PIN mailer <br/> &nbsp; '6' - Issue emergency
            replacement card(s). Use this value if a card is lost or stolen and the
            replacement card is to be embossed and mailed within 24 hour <br/> &nbsp;
            '7' - Reissue card <br/> &nbsp; '8' - Reissue card with different card
            numbering scheme (CNS) <br/> &nbsp; '9' - Card technology reissue
          example: '1'
        lastCardExpirationDate:
          maxLength: 10
          type: string
          description: Date on which the previously issued card expired, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 00/00/0000
        lastCardNeedActivation:
          maxLength: 1
          type: string
          description: This field indicates whether card activation needs to occur
            for the previously issued card. <br/>The values are:<br/>&nbsp; 'N' -
            No card activation is required or card activation has already occurred<br/>&nbsp;
            'Y' - Card activation needs to occur
          example: Y
        lastPlasticIssueDate:
          maximum: 999999
          maxLength: 6
          type: integer
          description: Time when the last plastic was issued.
          example: '131201'
        lastPlasticSuppressedDate:
          maxLength: 10
          type: string
          description: Date the last plastic usage is suppressed,The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: '0'
        lastPlasticUsedDate:
          maxLength: 10
          type: string
          description: Date the last plastic is used, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 10/02/2021
        lastWalletUsedDate:
          maxLength: 10
          type: string
          description: Date the last wallet associated with card is used, The format
            is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: '0'
        maskedPaymentCardNumber:
          maxLength: 19
          type: string
          description: Masked Card number of the actual card number associated with
            the card Id.
          example: 000984680XXXXXX9405
        mccLimit01:
          maxLength: 18
          type: string
          description: Occurence-1 of the MCC limit applied on the card.
          example: $0.01
        mccLimit02:
          maxLength: 18
          type: string
          description: Occurence-2 of the MCC limit applied on the card.
          example: $0.00
        mccLimit03:
          maxLength: 18
          type: string
          description: Occurence-3 of the MCC limit applied on the card.
          example: $0.00
        mccLimit04:
          maxLength: 18
          type: string
          description: Occurence-4 of the MCC limit applied on the card.
          example: $0.00
        mccLimit05:
          maxLength: 18
          type: string
          description: Occurence-5 of the MCC limit applied on the card.
          example: $0.00
        mccLimit06:
          maxLength: 18
          type: string
          description: Occurence-6 of the MCC limit applied on the card.
          example: $0.00
        mccLimit07:
          maxLength: 18
          type: string
          description: Occurence-7 of the MCC limit applied on the card.
          example: $0.00
        mccLimit08:
          maxLength: 18
          type: string
          description: Occurence-8 of the MCC limit applied on the card.
          example: $0.00
        mccLimit09:
          maxLength: 18
          type: string
          description: Occurence-9 of the MCC limit applied on the card.
          example: $0.00
        mccLimit10:
          maxLength: 18
          type: string
          description: Occurence-10 of the MCC limit applied on the card.
          example: $0.00
        nameOnCard:
          maxLength: 26
          type: string
          description: Embossed Name On Card.
          example: U T UATMLNCUST448
        paymentInstrumentId:
          maxLength: 19
          type: string
          description: Unique alternate identification number associated with Payment
            card number.
          example: '0009846801010009405'
        physicalVirtualIndicator:
          maxLength: 1
          type: string
          description: 'Indicates the card is physical or virtual. <br/>The values
            are: <br/>&nbsp; ''P'' - Physical Card<br/>&nbsp; ''V'' - Virtual Card'
          example: V
        plasticId:
          maxLength: 10
          type: string
          description: 'User-defined code that identifies the plastic stock used to
            create a card for this Embosser record. For HCS-associated accounts, this
            value defaults from the Company Product record '
          example: ' '
        plasticSuppressStatus:
          maxLength: 1
          type: string
          description: Flag for plastic usage suppression. <br/>The values are:<br/>
            &nbsp; 'N' - Don't suppress <br/> &nbsp; 'I' - Suppress due to inactivity
            <br/> &nbsp; 'P' - Suppressed due to Partial Address/Return mail
          example: N
        productDescription:
          maxLength: 30
          type: string
          description: This field is the description of the Logo record. This description
            enables you to identify the kind of accounts/cards processed by this product.
          example: VISA PLATINUM DEBIT
        savingsAccountId:
          maxLength: 17
          type: string
          description: Saving Account associated with the card (Debit Card Only).
          example: ' '
[...]
