openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.9.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Insurance
paths:
  /v1/insurance/addInsurance:
    post:
      description: This API is used to create insurance product for a given account
        Id along with other details in request.
      operationId: AddInsurance
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddInsuranceV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddInsuranceV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Add Insurance
      tags:
      - Insurance
      x-group-name: Insurance
      x-proxy-name: Add Insurance
  /v1/insurance/{accountId}/details:
    get:
      description: This API is used to fetch insurance details for a given account
        Id and insurance product.
      operationId: InquireInsurance
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number of the product associated with the
          organization. Valid values are 1-998.
        in: query
        name: productId
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000012000000085'
      - description: Record number associated with insurance product.
        in: query
        name: recordNumber
        required: true
        schema:
          maximum: 99
          maxLength: 2
          type: integer
          example: '1'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireInsuranceV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Insurance Details
      tags:
      - Insurance
      x-group-name: Insurance
      x-proxy-name: Inquire Insurance
    put:
      description: This API is used to update insurance details for a given account
        Id and insurance product.
      operationId: UpdateInsurance
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number of the product associated with the
          organization. Valid values are 1-998.
        in: query
        name: productId
        required: false
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000012000000085'
      - description: Record number associated with insurance product.
        in: query
        name: recordNumber
        required: true
        schema:
          maximum: 99
          maxLength: 2
          type: integer
          example: '1'
      - description: Identification number of the product associated with the account.
        in: query
        name: insuranceProduct
        required: false
        schema:
          maxLength: 2
          type: string
          example: I1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInsuranceV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInsuranceV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Insurance Details
      tags:
      - Insurance
      x-group-name: Insurance
      x-proxy-name: Update Insurance
  /v1/insurance/{accountId}/listInsurance:
    get:
      description: This API is used to fetch the list of insurance products associated
        for a given account Id.
      operationId: ListInsurance
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: false
        schema:
          maxLength: 3
          type: string
          example: '600'
      - description: Unique identification number for cardholder billing account.
        in: path
        name: accountId
        required: true
        schema:
          maxLength: 19
          type: string
          example: '0006000012000000085'
      - description: Field which is used to get next set of cards. This field will
          be passed as spaces for the first set of cards. For next set of cards, continuationToken
          received in previous response must be provided.
        in: query
        name: continuationToken
        required: false
        schema:
          maxLength: 160
          type: string
          example: ' '
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInsuranceV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: List Insurance Details
      tags:
      - Insurance
      x-group-name: Insurance
      x-proxy-name: List Insurance
components:
  schemas:
    AddInsuranceV1ReqModel:
      required:
      - accountId
      - insuranceId
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0006000011000000103'
        businessUnit:
          maxLength: 3
          type: string
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        cancelReason:
          maxLength: 1
          type: string
          description: Code that indicates the reason for canceling a product. <br/>The
            values are:<br/>&nbsp; ' ' - Not canceled. (Default) <br/>&nbsp; 'A' -
            Canceled the month after the product party reached the policy expiration
            age <br/>&nbsp; 'B' - Canceled because the block code assigned to the
            account cancels insurance and non-insurance products <br/>&nbsp; 'C' -
            Canceled because the account is charged off <br/>&nbsp; 'D' - Canceled
            due to delinquency.  <br/>&nbsp; 'F' - Canceled because a fiche number
            is required but is not assigned to the account and the number of cancellation
            days has been reached <br/>&nbsp; 'G' - Canceled because the product party
            date of birth was updated and the product party no longer meets the enrollment
            age requirement <br/>&nbsp; 'I' - Canceled because the product party date
            of birth was updated and the product party no longer meets the enrollment
            age requirement <br/>&nbsp; 'J' - Canceled because CMS cannot find the
            Insurance/Product table for the product <br/>&nbsp; 'M' - Canceled because
            the block code assigned to the account cancels insurance/products <br/>&nbsp;
            'P' - Manually canceled because the credit line or account was closed
            <br/>&nbsp; 'R' - Manually canceled at the request of the product party
            or customer <br/>&nbsp; 'T' - Canceled because the maximum amount at risk
            exceeded the maximum coverage <br/>&nbsp; 'U' - Manually canceled at the
            request of the underwriter <br/>&nbsp; 'X' - Manually canceled for a miscellaneous
            reason
          example: ' '
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0006000012000000256'
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective date of the product. This date may be a future date.
            CMS assesses the first premium in the cycle that this date occurs. The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
            Control.
          example: 10/07/2023
        ficheNumber:
          maxLength: 9
          type: string
          description: This field is the identification number of the microfiche where
            documents for this product are located.
          example: '12345'
        insuranceId:
          maxLength: 2
          type: string
          description: Identification number of the product associated with the account.
          example: I1
        isThirdPartyLetterEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is a code that determines whether CMS sends letters
            to the product third party. <br/>The values are:<br/>&nbsp; '0' - Do not
            send letters to the product third party (Default) <br/>&nbsp; '1' - Send
            letters to the product third party
          example: '0'
          enum:
          - 0
          - 1
        isThirdPartyLetterFeeEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field determines whether CMS charges a fee for the letter.
            <br/>The values are:<br/>&nbsp; '0' - Charge the LETTER FEE specified
            on the Letter Record service (Letter codes->Letter Detail Options) <br/>&nbsp;
            '1' - Do not charge a letter fee
          example: '1'
          enum:
          - 0
          - 1
        isThirdPartyStatementEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that determines if statements are sent to the product
            third party in addition to the account holder. <br/>The values are:<br/>&nbsp;
            '0' - Do not send statements to the product third party (Default) <br/>&nbsp;
            '1' - Send statements to the product third party
          example: '0'
          enum:
          - 0
          - 1
        premiumAmount:
          maximum: 999999999
          maxLength: 9
          type: integer
          description: This field is a fixed premium amount. This field is open for
            input. The RATE METHOD on the Insurance/Product table (Insurance Table->01-Insurance
            Product Details) must be 07 (flat rate defined on the account) to enter
            a fixed premium amount in this field. For other methods, this field must
            be blank. This field is a fixed premium amount assigned at the account
            level.
          example: '0'
        productParty:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is a code that identifies the party whose date of
            birth is used. <br/>The values are:<br/>&nbsp; '0' - Owner (Default) <br/>&nbsp;
            '1' - Co-owner <br/>&nbsp; '2' - Product third party <br/>&nbsp; '3' -
            Owner and co-owner
          example: '2'
        residenceId:
          maxLength: 3
          type: string
          description: Code that identifies the product enrollment ID of the account
            holder, which determines the Processing Control Table and the Insurance/Product
            table for an account.
          example: SX1
        sourceCode:
          maxLength: 2
          type: string
          description: This field is a source code. CMS accepts any source code entered
            in this field.
          example: V1
        status:
          maxLength: 1
          type: string
          description: Status of the product. <br/>The values are:<br/>&nbsp; 'F'
            - Product is in force <br/>&nbsp; 'I' - Product is inactive due to a user-defined
            condition
          example: F
          enum:
          - F
          - I
    AddInsuranceV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0006000012000000085'
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        insuranceId:
          maxLength: 2
          type: string
          description: Identification number of the product associated with the account.
          example: I1
        status:
          maxLength: 1
          type: string
          description: Status of the product. <br/>The values are:<br/>&nbsp; 'F'
            - Product is in force <br/>&nbsp; 'I' - Product is inactive due to a user-defined
            condition
          example: F
    InquireInsuranceV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0006000012000000085'
        amountDetails:
          type: object
          properties:
            cycleToDateBilledAmount:
              maxLength: 24
              type: string
              description: Amount of cycle-to-date premiums billed to the account.
              example: $0.00
            lastBilledAmount:
              maxLength: 24
              type: string
              description: Amount of the premium that CMS billed to the account on
                the DATE LAST BILLED.
              example: $0.00
            lifeToDateBilledAmount:
              maxLength: 24
              type: string
              description: Amount of life-to-date premiums billed to the account.
              example: $0.00
            monthToDateBilledAmount:
              maxLength: 24
              type: string
              description: Amount of month-to-date premiums billed to the account.
              example: $0.00
            suspendedAmount:
              maxLength: 24
              type: string
              description: Current suspended premium amount for the account.
              example: $0.00
            yearToDateBilledAmount:
              maxLength: 24
              type: string
              description: Amount of year-to-date premiums billed to the account.
              example: $0.00
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        cancelReason:
          maxLength: 1
          type: string
          description: Code that indicates the reason for canceling a product. <br/>The
            values are:<br/>&nbsp; ' ' - Not canceled. (Default) <br/>&nbsp; 'A' -
            Canceled the month after the product party reached the policy expiration
            age <br/>&nbsp; 'B' - Canceled because the block code assigned to the
            account cancels insurance and non-insurance products <br/>&nbsp; 'C' -
            Canceled because the account is charged off <br/>&nbsp; 'D' - Canceled
            due to delinquency.  <br/>&nbsp; 'F' - Canceled because a fiche number
            is required but is not assigned to the account and the number of cancellation
            days has been reached <br/>&nbsp; 'G' - Canceled because the product party
            date of birth was updated and the product party no longer meets the enrollment
            age requirement <br/>&nbsp; 'I' - Canceled because the product party date
            of birth was updated and the product party no longer meets the enrollment
            age requirement <br/>&nbsp; 'J' - Canceled because CMS cannot find the
            Insurance/Product table for the product <br/>&nbsp; 'M' - Canceled because
            the block code assigned to the account cancels insurance/products <br/>&nbsp;
            'P' - Manually canceled because the credit line or account was closed
            <br/>&nbsp; 'R' - Manually canceled at the request of the product party
            or customer <br/>&nbsp; 'T' - Canceled because the maximum amount at risk
            exceeded the maximum coverage <br/>&nbsp; 'U' - Manually canceled at the
            request of the underwriter <br/>&nbsp; 'X' - Manually canceled for a miscellaneous
            reason
          example: ' '
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0006000012000000256'
        dateFieldDetails:
          type: object
          properties:
            birthDate:
              maxLength: 10
              type: string
              description: This field is the date of birth of the product party. The
                format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on
                System Control.
              example: 00/00/0000
            cancelDate:
              maxLength: 10
              type: string
              description: This field displays the date on which this product was
                canceled, either manually or automatically. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            effectiveDate:
              maxLength: 10
              type: string
              description: Effective date of the product. This date may be a future
                date. CMS assesses the first premium in the cycle that this date occurs.
                The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
                on System Control.
              example: 10/07/2023
            ficheCancelDate:
              maxLength: 10
              type: string
              description: The field is the fiche number cancellation date. The format
                is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
                Control.
              example: 00/00/0000
            ficheWarnDate:
              maxLength: 10
              type: string
              description: This field is the fiche number warning date. The format
                is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
                Control.
              example: 00/00/0000
            lastBilledDate:
              maxLength: 10
              type: string
              description: Date on which CMS last billed a premium to the account.
                The format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT
                on System Control.
              example: 00/00/0000
            reinstatementDate:
              maxLength: 10
              type: string
              description: This field displays the date on which this product was
                canceled, either manually or automatically. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            statusChangeDate:
              maxLength: 10
              type: string
              description: This field displays the date when the STATUS field was
                last changed. The format is MM/DD/YYYY or DD/MM/YYYY depending on
                the DATE FORMAT on System Control.
              example: 30/06/2023
        description:
          maxLength: 40
          type: string
          description: Description of the insurance product as defined on the Insurance
            table.
          example: DEFAULT INSURANCE TABLE
        ficheNumber:
          maxLength: 9
          type: string
          description: This field is the identification number of the microfiche where
            documents for this product are located.
          example: '12345'
        insuranceId:
          maxLength: 2
          type: string
          description: Identification number of the product associated with the account.
          example: I1
        isThirdPartyLetterEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is a code that determines whether CMS sends letters
            to the product third party. <br/>The values are:<br/>&nbsp; '0' - Do not
            send letters to the product third party (Default) <br/>&nbsp; '1' - Send
            letters to the product third party
          example: '0'
        isThirdPartyLetterFeeEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field determines whether CMS charges a fee for the letter.
            <br/>The values are:<br/>&nbsp; '0' - Charge the LETTER FEE specified
            on the Letter Record service (Letter codes->Letter Detail Options) <br/>&nbsp;
            '1' - Do not charge a letter fee
          example: '1'
        isThirdPartyStatementEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that determines if statements are sent to the product
            third party in addition to the account holder. <br/>The values are:<br/>&nbsp;
            '0' - Do not send statements to the product third party (Default) <br/>&nbsp;
            '1' - Send statements to the product third party
          example: '0'
        premiumDetails:
          type: object
          properties:
            premiumAmount:
              maxLength: 24
              type: string
              description: This field is a fixed premium amount. This field is open
                for input. The RATE METHOD on the Insurance/Product table (Insurance
                Table->01-Insurance Product Details) must be 07 (flat rate defined
                on the account) to enter a fixed premium amount in this field. For
                other methods, this field must be blank. This field is a fixed premium
                amount assigned at the account level.
              example: $100.00
            premiumAmountOrPercentage:
              maxLength: 24
              type: string
              description: This field displays the, per value percentage or amount.
                This value is based on the age of the product party and the age tiers
                defined in the Insurance/Product table (PREMIUM BY AGE METHOD on Insurance
                Table->03-Insurance Premium Table).
              example: $0.00
            productPremiumAmount:
              maxLength: 24
              type: string
              description: This field is a fixed premium amount established in the
                Insurance/Product table (FIXED PREMIUM AMOUNT on Insurance Table->01-Insurance
                Product Details), if applicable.
              example: $0.00
            rateType:
              maxLength: 2
              type: string
              description: This field is a code that indicates whether premium Amount
                Or Percentage field is a percentage or an amount. <br/>The values
                are:<br/>&nbsp; '0' - Percentage <br/>&nbsp; '1' - Amount
              example: '1'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '1'
        productParty:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is a code that identifies the party whose date of
            birth is used. <br/>The values are:<br/>&nbsp; '0' - Owner (Default) <br/>&nbsp;
            '1' - Co-owner <br/>&nbsp; '2' - Product third party <br/>&nbsp; '3' -
            Owner and co-owner
          example: '2'
        productStatusIndicator:
          maxLength: 1
          type: string
          description: Code that indicates if the product is active for this account.
            <br/>The values are:<br/>&nbsp; '0' - Product is not active (Default)
            <br/>&nbsp; '1' - Product is active but CMS has not generated a statement
            for the account since the product became active <br/>&nbsp; '2' - Product
            is active and a statement for the account has been produced since the
            product became active
          example: '0'
        recordNumber:
          maximum: 99
          maxLength: 2
          type: integer
          description: Record number to identify the insurance product.
          example: '1'
        residenceId:
          maxLength: 3
          type: string
          description: Code that identifies the product enrollment ID of the account
            holder, which determines the Processing Control Table and the Insurance/Product
            table for an account.
          example: SX1
        sourceCode:
          maxLength: 2
          type: string
          description: This field is a source code. CMS accepts any source code entered
            in this field.
          example: V1
        sourceCodeDescription:
          maxLength: 20
          type: string
          description: It is a source code description.
          example: ABCD
        status:
          maxLength: 1
          type: string
          description: Status of the product. <br/>The values are:<br/>&nbsp; 'F'
            - Product is in force <br/>&nbsp; 'C' - Product is canceled. CMS assesses
            no premiums <br/>&nbsp; 'S' - Product is suspended due to delinquency
            <br/>&nbsp; 'I' - Product is inactive due to a user-defined condition
          example: F
    ListInsuranceV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0006000012000000085'
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        listOfInsuranceProducts:
          type: array
          items:
            $ref: '#/components/schemas/ListOfInsuranceProducts_ListInsuranceV1ResponseModel'
    ListOfInsuranceProducts_ListInsuranceV1ResponseModel:
      type: object
      properties:
        Type:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates whether a product is an insurance product
            or non-insurance (additional account) product. <br/>The values are:<br/>&nbsp;
            '0' - Insurance product (Default) <br/>&nbsp; '1' - Non-insurance or additional
            account product
          example: '1'
        description:
          maxLength: 40
          type: string
          description: Description of the insurance product as defined on the Insurance
            table.
          example: DEFAULT INSURANCE TABLE
        insuranceId:
          maxLength: 2
          type: string
          description: Identification number of the product associated with the account.
          example: I1
        recordNumber:
          maximum: 99
          maxLength: 2
          type: integer
          description: Record number to identify the insurance product.
          example: '1'
        status:
          maxLength: 1
          type: string
          description: Status of the product. <br/>The values are:<br/>&nbsp; 'F'
            - Product is in force <br/>&nbsp; 'C' - Product is canceled. CMS assesses
            no premiums <br/>&nbsp; 'S' - Product is suspended due to delinquency
            <br/>&nbsp; 'I' - Product is inactive due to a user-defined condition
          example: F
    ResponseErrorMessageInfo:
      type: object
      properties:
        detail:
          type: string
          example: ''
        errorCode:
          type: string
          example: ''
        instance:
          type: string
          example: ''
        invalid-params:
          type: array
          items:
            type: string
        source:
          type: string
          example: ''
        status:
          type: integer
          example: '0'
        title:
          type: string
          example: ''
    UpdateInsuranceV1ReqModel:
      type: object
      properties:
        cancelReason:
          maxLength: 1
          type: string
          description: Code that indicates the reason for canceling a product. <br/>The
            values are:<br/>&nbsp; ' ' - Not canceled. (Default) <br/>&nbsp; 'A' -
            Canceled the month after the product party reached the policy expiration
            age <br/>&nbsp; 'B' - Canceled because the block code assigned to the
            account cancels insurance and non-insurance products <br/>&nbsp; 'C' -
            Canceled because the account is charged off <br/>&nbsp; 'D' - Canceled
            due to delinquency.  <br/>&nbsp; 'F' - Canceled because a fiche number
            is required but is not assigned to the account and the number of cancellation
            days has been reached <br/>&nbsp; 'G' - Canceled because the product party
            date of birth was updated and the product party no longer meets the enrollment
            age requirement <br/>&nbsp; 'I' - Canceled because the product party date
            of birth was updated and the product party no longer meets the enrollment
            age requirement <br/>&nbsp; 'J' - Canceled because CMS cannot find the
            Insurance/Product table for the product <br/>&nbsp; 'M' - Canceled because
            the block code assigned to the account cancels insurance/products <br/>&nbsp;
            'P' - Manually canceled because the credit line or account was closed
            <br/>&nbsp; 'R' - Manually canceled at the request of the product party
            or customer <br/>&nbsp; 'T' - Canceled because the maximum amount at risk
            exceeded the maximum coverage <br/>&nbsp; 'U' - Manually canceled at the
            request of the underwriter <br/>&nbsp; 'X' - Manually canceled for a miscellaneous
            reason
          example: ' '
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0006000012000000256'
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective date of the product. This date may be a future date.
            CMS assesses the first premium in the cycle that this date occurs. The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
            Control.
          example: 10/07/2023
        ficheNumber:
          maxLength: 9
          type: string
          description: This field is the identification number of the microfiche where
            documents for this product are located.
          example: '12345'
        isThirdPartyLetterEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is a code that determines whether CMS sends letters
            to the product third party. <br/>The values are:<br/>&nbsp; '0' - Do not
            send letters to the product third party (Default) <br/>&nbsp; '1' - Send
            letters to the product third party
          example: '0'
        isThirdPartyLetterFeeEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field determines whether CMS charges a fee for the letter.
            <br/>The values are:<br/>&nbsp; '0' - Charge the LETTER FEE specified
            on the Letter Record service (Letter codes->Letter Detail Options) <br/>&nbsp;
            '1' - Do not charge a letter fee
          example: '1'
        isThirdPartyStatementEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that determines if statements are sent to the product
            third party in addition to the account holder. <br/>The values are:<br/>&nbsp;
            '0' - Do not send statements to the product third party (Default) <br/>&nbsp;
            '1' - Send statements to the product third party
          example: '0'
        premiumAmount:
          maxLength: 17
          type: string
          description: This field is a fixed premium amount. This field is open for
            input. The RATE METHOD on the Insurance/Product table (Insurance Table->01-Insurance
            Product Details) must be 07 (flat rate defined on the account) to enter
            a fixed premium amount in this field. For other methods, this field must
            be blank. This field is a fixed premium amount assigned at the account
            level.
          example: '100.00'
        productParty:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is a code that identifies the party whose date of
            birth is used. <br/>The values are:<br/>&nbsp; '0' - Owner (Default) <br/>&nbsp;
            '1' - Co-owner <br/>&nbsp; '2' - Product third party <br/>&nbsp; '3' -
            Owner and co-owner
          example: '2'
        residenceId:
          maxLength: 3
          type: string
          description: Code that identifies the product enrollment ID of the account
            holder, which determines the Processing Control Table and the Insurance/Product
            table for an account.
          example: SX1
        sourceCode:
          maxLength: 2
          type: string
          description: This field is a source code. CMS accepts any source code entered
            in this field.
          example: V1
        status:
          maxLength: 1
          type: string
          description: Status of the product. <br/>The values are:<br/>&nbsp; 'F'
            - Product is in force <br/>&nbsp; 'C' - Product is canceled. CMS assesses
            no premiums <br/>&nbsp; 'I' - Product is inactive due to a user-defined
            condition
          example: F
    UpdateInsuranceV1ResponseModel:
      type: object
      properties:
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
          example: '0006000012000000085'
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        cancelReason:
          maxLength: 1
          type: string
          description: Code that indicates the reason for canceling a product. <br/>The
            values are:<br/>&nbsp; ' ' - Not canceled. (Default) <br/>&nbsp; 'A' -
            Canceled the month after the product party reached the policy expiration
            age <br/>&nbsp; 'B' - Canceled because the block code assigned to the
            account cancels insurance and non-insurance products <br/>&nbsp; 'C' -
            Canceled because the account is charged off <br/>&nbsp; 'D' - Canceled
            due to delinquency.  <br/>&nbsp; 'F' - Canceled because a fiche number
            is required but is not assigned to the account and the number of cancellation
            days has been reached <br/>&nbsp; 'G' - Canceled because the product party
            date of birth was updated and the product party no longer meets the enrollment
            age requirement <br/>&nbsp; 'I' - Canceled because the product party date
            of birth was updated and the product party no longer meets the enrollment
            age requirement <br/>&nbsp; 'J' - Canceled because CMS cannot find the
            Insurance/Product table for the product <br/>&nbsp; 'M' - Canceled because
            the block code assigned to the account cancels insurance/products <br/>&nbsp;
            'P' - Manually canceled because the credit line or account was closed
            <br/>&nbsp; 'R' - Manually canceled at the request of the product party
            or customer <br/>&nbsp; 'T' - Canceled because the maximum amount at risk
            exceeded the maximum coverage <br/>&nbsp; 'U' - Manually canceled at the
            request of the underwriter <br/>&nbsp; 'X' - Manually canceled for a miscellaneous
            reason
          example: ' '
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer.
          example: '0006000012000000256'
        effectiveDate:
          maxLength: 10
          type: string
          description: Effective date of the product. This date may be a future date.
            CMS assesses the first premium in the cycle that this date occurs. The
            format is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
            Control.
          example: 10/07/2023
        ficheNumber:
          maxLength: 9
          type: string
          description: This field is the identification number of the microfiche where
            documents for this product are located.
          example: '12345'
        insuranceId:
          maxLength: 2
          type: string
          description: Identification number of the product associated with the account.
          example: I1
        isThirdPartyLetterEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is a code that determines whether CMS sends letters
            to the product third party. <br/>The values are:<br/>&nbsp; '0' - Do not
            send letters to the product third party (Default) <br/>&nbsp; '1' - Send
            letters to the product third party
          example: '0'
        isThirdPartyLetterFeeEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field determines whether CMS charges a fee for the letter.
            <br/>The values are:<br/>&nbsp; '0' - Charge the LETTER FEE specified
            on the Letter Record service (Letter codes->Letter Detail Options) <br/>&nbsp;
            '1' - Do not charge a letter fee
          example: '1'
        isThirdPartyStatementEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that determines if statements are sent to the product
            third party in addition to the account holder. <br/>The values are:<br/>&nbsp;
            '0' - Do not send statements to the product third party (Default) <br/>&nbsp;
            '1' - Send statements to the product third party
          example: '0'
        premiumAmount:
          type: string
          description: This field is a fixed premium amount. This field is open for
            input. The RATE METHOD on the Insurance/Product table (Insurance Table->01-Insurance
            Product Details) must be 07 (flat rate defined on the account) to enter
            a fixed premium amount in this field. For other methods, this field must
            be blank. This field is a fixed premium amount assigned at the account
            level.
          example: $100.00
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '1'
        productPaty:
          maximum: 9
          maxLength: 1
          type: integer
          description: This field is a code that identifies the party whose date of
            birth is used. <br/>The values are:<br/>&nbsp; '0' - Owner (Default) <br/>&nbsp;
            '1' - Co-owner <br/>&nbsp; '2' - Product third party <br/>&nbsp; '3' -
            Owner and co-owner
          example: '2'
        recordNumber:
          maximum: 99
          maxLength: 2
          type: integer
          description: Record number to identify the insurance product.
          example: '1'
        residenceId:
          maxLength: 3
          type: string
          description: Code that identifies the product enrollment ID of the account
            holder, which determines the Processing Control Table and the Insurance/Product
            table for an account.
          example: SX1
        sourceCode:
          maxLength: 2
          type: string
          description: This field is a source code. CMS accepts any source code entered
            in this field.
          example: V1
        status:
          maxLength: 1
          type: string
          description: Status of the product. <br/>The values are:<br/>&nbsp; 'F'
            - Product is in force <br/>&nbsp; 'C' - Product is canceled. CMS assesses
            no premiums <br/>&nbsp; 'S' - Product is suspended due to delinquency
            <br/>&nbsp; 'I' - Product is inactive due to a user-defined condition
          example: F
  securitySchemes:
    Authorization:
      scheme: bearer
      type: http
