openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.9.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Miscellaneous
paths:
  /v1/misc/boardEntities:
    post:
      description: This API is used to add Customer Name/Address record, Account Base
        Segment record, Embosser record, and Relationship record and Insurance record
        based on the input criteria.
      operationId: BoardEntities_1
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardEntityV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardEntityV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Board Entities
      tags:
      - Miscellaneous
      x-group-name: Miscellaneous
      x-proxy-name: Board Entities
  /v1/misc/health:
    get:
      description: This API is used to verify health of credit management system and
        authorization system. This service gives the detail whether the system is
        active to respond on authorization requests, service requests etc.
      operationId: CheckHealth
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckHealthV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: System Status
      tags:
      - Miscellaneous
      x-group-name: Miscellaneous
      x-proxy-name: Check Health
  /v1/misc/{businessUnit}/billingCycleAssignment:
    get:
      description: This API is used to fetch billing cycle assignment details and
        billing method for a given business unit.
      operationId: InquireBillingCycleAssignment
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: path
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireBillingCycleAssignmentV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Billing Cycle Assignment
      tags:
      - Miscellaneous
      x-group-name: Miscellaneous
      x-proxy-name: Inquire Billing Cycle Assignment
  /v1/misc/{businessUnit}/details:
    get:
      description: This API is used to fetch parameters defined at business unit.
        Business unit are primary control records that gives client option to enable
        or disable various functionalities like MCC limits, Loan active, general ledger
        etc. Business units establishes operating parameters for companies that process
        accounts in a similar fashion.
      operationId: InquireBusinessUnit
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: path
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireBusinessUnitV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Business Unit
      tags:
      - Miscellaneous
      x-group-name: Miscellaneous
      x-proxy-name: Inquire Business Unit
  /v2/misc/boardEntities:
    post:
      description: This API is used to add Customer Name/Address record, Account Base
        Segment record, Embosser record, and Relationship record and Insurance record
        based on the input criteria.
      operationId: BoardEntities
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardEntityV2ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardEntityV2ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Board Entities
      tags:
      - Miscellaneous
      x-group-name: Miscellaneous
      x-proxy-name: Board Entities V2
components:
  schemas:
    BillingCycleAssignmentDetails_InquireBillingCycleAssignmentV1ResponseModel:
      type: object
      properties:
        callCycleNextDay:
          maximum: 99
          maxLength: 2
          type: integer
          description: Day of the month on which the related billing cycle occurs
            during the current month. If you select a nonprocessing day, the cycle’s
            statement is produced on the processing day that precedes the selected
            day. This day must be at least 25 calendar days from the DATE LAST STATEMENT
            PRODUCED date. It must also be equal to or greater than the NO. (CYCLE)
            value.
          example: '30'
        lastStatementProducedDate:
          maxLength: 10
          type: string
          description: Date on which the corresponding billing cycle was last produced
            during a statement run. The day of the month entered in CCC DAY NEXT must
            never be less than 25 days from this date.
          example: 5/02/2021
    BoardEntityV1ReqModel:
      required:
      - accountId
      - businessUnit
      - createAccountRecord
      - customerId
      - isCustomerIdEnabled
      - isInsuranceProductEnabled
      - isPaymentInstrumentIdEnabled
      - isRelationshipEnabled
      - isSameCustomerIdAccountIdEnabled
      - productId
      type: object
      properties:
        accountDetails:
          required:
          - addressId
          - creditLimit
          type: object
          properties:
            accountDirectDebitDetails:
              type: object
              properties:
                accountType:
                  maxLength: 1
                  type: string
                  description: This field is a code that indicates the type of account
                    to which the direct debit is sent. <br/>The values are:<br/>&nbsp;
                    'D' - Demand deposit account (checking) <br/>&nbsp; 'S' - Savings
                    account.
                  example: D
                  enum:
                  - D
                  - S
                customerName:
                  maxLength: 32
                  type: string
                  description: Account holders name used for direct debit process.
                  example: Alex Rey
                externalAccountId:
                  maxLength: 17
                  type: string
                  description: Demand deposit account (DDA) number associated with
                    direct debit processing.
                  example: '00000001000000057'
                nominatedPaymentAmountOrPercentage:
                  maxLength: 17
                  type: string
                  description: This field is the amount/percentage of direct debit.
                    This field either have amount or percentage depends on the value
                    in DD Nominated Type
                  example: $10.00
                nominatedType:
                  maximum: 9
                  maxLength: 1
                  type: integer
                  description: Code that indicates the type of customer-nominated
                    payment. The values are:<br/>&nbsp; '0' - Not used <br/> &nbsp;
                    '1' - Fixed payment amount <br/> &nbsp; '2' - Percentage of account
                    (cycle-ending) balance <br/> &nbsp; '3' - Full account (cycle-ending)
                    balance <br/> &nbsp; '8' - Qual Grace Balance <br/> &nbsp; '9'
                    - Percentage of account (cycle-ending minus overlimit amount)
                    balance
                  example: '1'
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 8
                  - 9
                paymentChangeDate:
                  maxLength: 10
                  type: string
                  description: Date on which CMS changes the direct debit payment
                    option in the DD PAYMENT TYPE field from minimum to customer nominated
                    or from customer nominated to minimum. The format is MM/DD/YYYY
                    or DD/MM/YYYY depending on the DATE FORMAT on System Control.
                  example: 04/10/2021
                paymentExpiryDate:
                  maxLength: 10
                  type: string
                  description: Date on which direct debit processing expires for the
                    account. The format is MM/DD/YYYY or DD/MM/YYYY depending on the
                    DATE FORMAT on System Control.
                  example: 04/11/2021
                paymentRemittanceMethod:
                  maximum: 9
                  maxLength: 1
                  type: integer
                  description: Code that indicates the payment remittance method for
                    the account. <br/>The values are:<br/>&nbsp; '0' - Not used (Default)<br/>&nbsp;
                    '2' - Direct debit
                  example: '0'
                  enum:
                  - 0
                  - 2
                paymentStartDate:
                  maxLength: 10
                  type: string
                  description: Date on which direct debit processing starts for the
                    account. The format is MM/DD/YYYY or DD/MM/YYYY depending on the
                    DATE FORMAT on System Control.
                  example: 04/10/2021
                paymentType:
                  maximum: 9
                  maxLength: 1
                  type: integer
                  description: This field indicates whether direct debit processing
                    is active for this account and the payment option in effect. <br/>The
                    values are:<br/> &nbsp; '0' - Does not participate in direct debit
                    processing. A minimum payment is in effect.(Default) <br/> &nbsp;
                    '1' - Direct debit processing is active. A minimum payment is
                    in effect. This option includes past due amounts for the projected
                    DD. . <br/> &nbsp; '2' - Direct debit processing is active. A
                    customer nominated payment is in effect. This option includes
                    past due amounts for the projected DD. <br/> &nbsp; '3' - Direct
                    debit processing has expired. This value is system-generated.
                    <br/> &nbsp; '4' - Direct debit processing has been canceled due
                    to delinquency. This value is system-generated. <br/> &nbsp; '5'
                    - Direct debit processing has been canceled for the account because
                    it reached the DD PAYMENT REVERSAL LIMIT. This value is system
                    generated. <br/> &nbsp; '6' - Direct debit processing is active
                    for debit card transactions only. This value is system generated.  <br/>
                    &nbsp; '7' - Direct debit processing is active. A customer nominated
                    payment is in effect. <br/> &nbsp; '9' - Direct debit manual cancellation.
                  example: '1'
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 6
                  - 7
                  - 9
                requestDays:
                  maximum: 99
                  maxLength: 2
                  type: integer
                  description: Number of days prior to the payment due date or the
                    day of the month to request direct debit payments for the account.
                  example: '4'
                routingBankID:
                  maxLength: 10
                  type: string
                  description: Dual-use field that accepts a nine-digit routing/transit
                    number (ACH format) or a ten-digit bank ID (non-ACH format) to
                    identify the financial institution to receive direct debit transactions
                    for account payments.
                  example: '123456'
            addressId:
              maxLength: 15
              type: string
              description: 'Address identifier to determine the type of address. Ex:
                Home, Office, etc.'
              example: HOME
            authorizationCriteriaTable:
              maxLength: 3
              type: string
              description: Identification number of the Authorization Criteria table
                assigned to the account.
              example: ''
            billingCycle:
              maximum: 99
              maxLength: 2
              type: integer
              description: Cycle code that indicates the day of the month that system
                performs cycle processing for the account. The values are 1–31.
              example: '18'
            billingLevel:
              maxLength: 1
              type: string
              description: This is the Code which indicates whether billing occurs
                for the account at the relationship level or subordinate account level.
                <br/>The values are:<br/> &nbsp; '0' - Relationship level <br/> &nbsp;
                '1' - Subordinate account level (Default)
              example: '1'
              enum:
              - '1'
              - '0'
            bnplDetails:
              type: object
              properties:
                alerts:
                  type: object
                  properties:
                    bookingAlertChannelIndicator:
                      maximum: 9
                      maxLength: 1
                      type: integer
                      description: Communication channel through which the BNPL booking
                        alerts are sent to the cardholder. <br/>The values are:<br/>&nbsp;
                        '0' - No Booking Alert <br/>&nbsp; '1' - SMS Booking Alert
                        <br/>&nbsp; '2' - Email Booking Alert <br/>&nbsp; '3' - SMS
                        & Email Booking Alert <br/>&nbsp; '9' - Logo Level Booking
                        Alert
                      example: '0'
                      enum:
                      - 0
                      - 1
                      - 2
                      - 3
                      - 9
                    iplanActivationAlertChannelIndicator:
                      maximum: 9
                      maxLength: 1
                      type: integer
                      description: Communication channel through which the Iplan activation
                        alerts are sent to the cardholder. <br/>The values are:<br/>&nbsp;
                        '0' - No Iplan Active Alert <br/>&nbsp; '1' - SMS Iplan Active
                        Alert <br/>&nbsp; '2' - Email Iplan Active Alert <br/>&nbsp;
                        '3' - SMS & Email Iplan Active Alert <br/>&nbsp; '9' - Logo
                        Level Iplan Active Alert
                      example: '0'
                      enum:
                      - 0
                      - 1
                      - 2
                      - 3
                      - 9
                    missedPaymentAlertChannelIndicator:
                      maximum: 9
                      maxLength: 1
                      type: integer
                      description: Communication channel through which the BNPL missed
                        payment alerts are sent to the cardholder. <br/>The values
                        are:<br/>&nbsp; '0' - No Missed Payment Alert <br/>&nbsp;
                        '1' - SMS Missed Payment Alert <br/>&nbsp; '2' - Email Missed
                        Payment Alert <br/>&nbsp; '3' - SMS & Email Missed Payment
                        Alert <br/>&nbsp; '9' - Logo Level Missed Payment Alert
                      example: '0'
                      enum:
                      - 0
                      - 1
                      - 2
                      - 3
                      - 9
                    paymentDueAlertChannelIndicator:
                      maximum: 9
                      maxLength: 1
                      type: integer
                      description: Communication channel through which the payment
                        due alerts are sent to the cardholder. <br/>The values are:<br/>&nbsp;
                        '0' - No Payment Due Alert <br/>&nbsp; '1' - SMS Payment Due
                        Alert <br/>&nbsp; '2' - Email Payment Due Alert <br/>&nbsp;
                        '3' - SMS & Email Payment Due Alert <br/>&nbsp; '9' - Logo
                        Level Payment Due Alert
                      example: '0'
                      enum:
                      - 0
                      - 1
                      - 2
                      - 3
                      - 9
                    snoozeAlertChannelIndicator:
                      maximum: 9
                      maxLength: 1
                      type: integer
                      description: Communication channel through which the BNPL snooze
                        alerts are sent to the cardholder. <br/>The values are:<br/>&nbsp;
                        '0' - No Snooze Alert <br/>&nbsp; '1' - SMS Snooze Alert <br/>&nbsp;
                        '2' - Email Snooze Alert <br/>&nbsp; '3' - SMS & Email Snooze
                        Alert <br/>&nbsp; '9' - Logo Level Snooze Alert
                      example: '0'
                      enum:
                      - 0
                      - 1
                      - 2
                      - 3
                      - 9
                    switchAlertChannelIndicator:
                      maximum: 9
                      maxLength: 1
                      type: integer
                      description: Communication channel through which the BNPL switch
                        alerts are sent to the cardholder. <br/>The values are:<br/>&nbsp;
                        '0' - No Switch Alert <br/>&nbsp; '1' - SMS Switch Alert <br/>&nbsp;
                        '2' - Email Switch Alert <br/>&nbsp; '3' - SMS & Email Switch
                        Alert <br/>&nbsp; '9' - Logo Level Switch Alert
                      example: '0'
                      enum:
                      - 0
                      - 1
                      - 2
                      - 3
                      - 9
                configurationTemplate:
                  maxLength: 10
                  type: string
                  description: BNPL configuration template. This is set of controls
                    that govern how each unique iPlan ( BNPL Instalment Plan) is billed,
                    what is the payment frequency and what fees are supplied etc.
                  example: BNPL01TRAN
                defaultRepaymentReferenceIndicator:
                  maximum: 9
                  maxLength: 1
                  type: integer
                  description: Field indicates what dues the system will consider
                    when initiating repayment requests for a iPlan (Instalment Plan).<br/>The
                    values are:<br/> &nbsp; '0' - Request repayment for the next instalment
                    of the schedule and the past dues <br/> &nbsp; '1' - Request repayment
                    for next instalment of the schedule
                  example: '0'
                  enum:
                  - 0
                  - 1
                directDebitDetails:
                  type: object
                  properties:
                    bankIdentifierCode:
                      maxLength: 11
                      type: string
                      description: Bank identifier code associated with the Direct
                        Debit account.
                      example: '12345678912'
                    externalAccountId:
                      maxLength: 17
                      type: string
                      description: Direct debit Account number.
                      example: '14725836978945612'
                    externalAccountType:
                      maxLength: 1
                      type: string
                      description: Indicates the type of account to which the direct
                        debit is sent. <br/>The values are:<br/>&nbsp; 'D' - Demand
                        deposit account (checking) <br/>&nbsp; 'S' - Savings account<br/>&nbsp;
                        ' ' - Default
                      example: D
                      enum:
                      - D
                      - S
                      - ' '
                    externalAccountsBankId:
                      maxLength: 4
                      type: string
                      description: Field indicates the direct debit bank ID.
                      example: '1234'
                    internationalBankingAccountId:
                      maxLength: 34
                      type: string
                      description: International Banking Account Number (IBAN) associated
                        with the direct debit account.
                      example: '12345'
                    paymentCardNumber:
                      maxLength: 16
                      type: string
                      description: Card number to setup the debit card or credit card
                        payment instrument.
                      example: '9123900123789012'
                    paymentCardNumberExpiryDate:
                      maximum: 9999
                      maxLength: 4
                      type: integer
                      description: Expiry Date of the Debit Card provided as payment
                        instrument. The format is MMYY.
                      example: '1036'
                    paymentExpiryDate:
                      maxLength: 10
                      type: string
                      description: Date on which direct debit processing expires for
                        the account. The format is MM/DD/YYYY or DD/MM/YYYY depending
                        on the DATE FORMAT on System Control.
                      example: 01/01/2032
                    paymentStartDate:
                      maxLength: 10
                      type: string
                      description: Date on which direct debit processing starts for
                        the account. The format is MM/DD/YYYY or DD/MM/YYYY depending
                        on the DATE FORMAT on System Control.
                      example: 01/01/2031
                    paymentType:
                      maximum: 9
                      maxLength: 1
                      type: integer
                      description: Flag to idicate whether direct debit processing
                        is active for the payment instrument in effect. <br/>The values
                        are:<br/>&nbsp; '0' - Does not participate in direct debit
                        processing. (Default) <br/>&nbsp; '1' - Direct debit processing
                        is active
                      example: '1'
                      enum:
                      - 0
                      - 1
                    'repaymentType ':
                      maximum: 99
                      maxLength: 2
                      type: integer
                      description: Payment instrument repayment type. <br/>The values
                        are:<br/>&nbsp; '0' - No payment instrument repayment type
                        provided (default) <br/>&nbsp; '1' - Direct Debit <br/>&nbsp;
                        '2' - Debit Card <br/>&nbsp; '3' - Credit Card <br/>&nbsp;
                        '4-99' - Reserved for Future use
                      example: '0'
                    routingBankId:
                      maxLength: 10
                      type: string
                      description: Field indicates the bank routing number.
                      example: '01'
                preferredDayOfWeek:
                  maximum: 9
                  maxLength: 1
                  type: integer
                  description: Preferred day of week to calculate the paydate for
                    different repayment frequencies. <br/>The values are:<br/>&nbsp;
                    '0' - Preferred day not provided (Default) <br/>&nbsp; '1' - Sunday
                    <br/>&nbsp; '2' - Monday <br/>&nbsp; '3' - Tuesday <br/>&nbsp;
                    '4' - Wednesday <br/>&nbsp; '5' - Thursday <br/>&nbsp; '6' - Friday
                    <br/>&nbsp; '7' - Saturday
                  example: '1'
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 6
                  - 7
            cardTechnology:
              maxLength: 1
              type: string
              description: This is the flag that identifies the current card technology
                used for this account. <br/>The values are:<br/> &nbsp; '0' - Magnetic-stripe
                card(s) are on issue <br/> &nbsp; '1' - Smart card(s) are on issue
                <br/> &nbsp; '2' - Magnetic-stripe contactless card(s) are on issue
                <br/> &nbsp; '3' - Smart contactless card(s) are on issue <br/> &nbsp;
                '4' - Mobile magnetic-stripe contactless payment instruments (PI)
                are on provision <br/> &nbsp; '5' - Mobile smart contactless PIs are
                on provision
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
            cashPlanId:
              maximum: 99999
              maxLength: 5
              type: integer
              description: The default values for this field are set on the Account
                Processing table assigned to the account.
              example: '0'
            coreBankingIndicator:
              maxLength: 25
              type: string
              description: Core Banking Indicator. <br/>The values are:<br/> &nbsp;
                ' ' - Default <br/> &nbsp; 'B' - BaaS <br/> &nbsp; 'T' - Temenos <br/>
                &nbsp; 'S' - Signature
              example: ' '
              enum:
              - B
              - S
              - T
              - ' '
            corporateId:
              maxLength: 10
              type: string
              description: Corporate identification number assigned to commercial
                card accounts.
              example: ''
            creditLimit:
              maxLength: 17
              type: string
              description: Credit limit of the account. This is mandatory field during
                account addition.
              example: '10.00'
            customerSelectedDueDay:
              maximum: 99
              maxLength: 2
              type: integer
              description: Day of the month the customer has selected as the payment
                due date.
              example: '0'
            dualBillingFlag:
              maxLength: 1
              type: string
              description: This is the flag that indicates whether CMS uses the foreign
                or local currency to request the minimum payment. <br/>The values
                are:<br/> &nbsp; '0' - Dual billing is not active. Bill the foreign
                account in the foreign currency. Two statements are generated, one
                in the foreign currency and one in the local currency <br/> &nbsp;
                '1' - Dual billing is active. Bill the foreign account in the local
                currency. Two statements are generated in the local currency
              example: '0'
              enum:
              - '0'
              - '1'
            externalContractId:
              maxLength: 19
              type: string
              description: Unique identification number assigned to a customer from
                external system.
              example: '0000000000012672379'
            ibsDetails:
              type: object
              properties:
                ddaAccountId:
                  maxLength: 17
                  type: string
                  description: Demand deposit account (DDA) number associated with
                    direct debit processing.
                  example: ''
                ddaRoutingId:
                  maximum: 9
                  maxLength: 1
                  type: integer
                  description: This is ABA-assigned routing and transit number that
                    identifies the financial institution at which the checking account
                    is held.
                  example: '0'
                savingsAccountId:
                  maxLength: 17
                  type: string
                  description: This is the savings account number
                  example: ''
                savingsRoutingId:
                  maximum: 9
                  maxLength: 1
                  type: integer
                  description: This is ABA-assigned routing and transit number that
                    identifies the financial institution at which the savings account
                    is held.
                  example: '0'
            isMobilePiEnabled:
              maxLength: 1
              type: string
              description: Flag that indicates whether mobile payment instruments
                (PI) are allowed for this account. <br/>The values are:<br/> &nbsp;
                '0' - Do not allow mobile PIs (Default) <br/> &nbsp; '1' - Allow mobile
                PIs
              example: '0'
              enum:
              - '0'
              - '1'
            isSuppressLetterEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether to suppress all letters for
                the account. <br/>The values are:<br/> &nbsp; '0' - Do not suppress
                letters (Default) <br/> &nbsp; '1' - Suppress all letters
              example: '0'
              enum:
              - '0'
              - '1'
            isSupressTokenEnabled:
              maxLength: 1
              type: string
              description: Code that indicates whether the account is eligible for
                tokenization. <br/>The values are:<br/> &nbsp; '0' - Suppress token
                functionality is inactive for the account <br/> &nbsp; '1' - Suppress
                token functionality is active for the account
              example: '0'
              enum:
              - '0'
              - '1'
            isWaiveAnnualMembershipFeeEnabled:
              maxLength: 1
              type: string
              description: Flag that indicates whether to waive the annual membership
                fee for the account. <br/>The values are:<br/>&nbsp; '0' - Do not
                waive membership fee (Default) <br/>&nbsp; '1' - Waive both the initial
                and renewal membership fees <br/>&nbsp; '2' - Waive only the initial
                membership fee <br/>&nbsp; '3' - Waive only the renewal membership
                fee
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
            issuanceId:
              maxLength: 3
              type: string
              description: This is the flag which identifies the state, province or
                country in which the account was issued.
              example: ' '
            owningBranchNumber:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: This field is the number of the branch that owns this account  and
                location of financial reporting for this account.
              example: '999999998'
            pctOverrideDetails:
              type: object
              properties:
                level:
                  maxLength: 1
                  type: string
                  description: Code that indicates whether a processing control level
                    override is in effect, and if so, the level for the PCT ID in
                    the PCT OVERRIDE field. <br/>The values are:<br/> &nbsp; ' ' -
                    No override in effect (Default) <br/> &nbsp; 'L' - Product <br/>
                    &nbsp; 'O' - Business Unit <br/> &nbsp; 'S' - System Control
                  example: ' '
                  enum:
                  - ' '
                  - L
                  - O
                  - S
                levelExpiryDate:
                  maxLength: 10
                  type: string
                  description: This is the date on which the processing control level
                    override expires for the account. The format is MM/DD/YYYY or
                    DD/MM/YYYY depending on the DATE FORMAT on System Control.
                  example: 00/00/0000
                levelStartDate:
                  maxLength: 10
                  type: string
                  description: This is the date on which the processing control level
                    override starts for the account. The format is MM/DD/YYYY or DD/MM/YYYY
                    depending on the DATE FORMAT on System Control.
                  example: 00/00/0000
                pctOverride:
                  maxLength: 3
                  type: string
                  description: Code that identifies an existing Processing Control
                    Table (PCT ID) used to establish special pricing controls for
                    the account.
                  example: ' '
                pctOverrideExpiryDate:
                  maxLength: 10
                  type: string
                  description: This is the date on which the special pricing controls
                    expire for the account. The format is MM/DD/YYYY or DD/MM/YYYY
                    depending on the DATE FORMAT on System Control.
                  example: 00/00/0000
                pctOverrideStartDate:
                  maxLength: 10
                  type: string
                  description: This is the date on which the special pricing controls
                    start for the account. The format is MM/DD/YYYY or DD/MM/YYYY
                    depending on the DATE FORMAT on System Control.
                  example: 00/00/0000
            primaryAccountFlag:
              maxLength: 1
              type: string
              description: This is a flag that indicates whether the account is the
                primary account in a relationship. <br/>The values are:<br/> &nbsp;
                ' ' - Not the primary account <br/> &nbsp; 'P' - Primary account in
                a relationship
              example: ' '
              enum:
              - ' '
              - P
            residenceId:
              maxLength: 3
              type: string
              description: This flag identifies the state, province or country in
                which the  account holder resides.
              example: ''
            retailPlanId:
              maximum: 99999
              maxLength: 5
              type: integer
              description: The default values for this field are set on the Account
                Processing table assigned to the account.
              example: '0'
            shortName:
              maxLength: 20
              type: string
              description: This is the short name of the account holder.
              example: ''
            sourceCode:
              maxLength: 20
              type: string
              description: Code to determine the source of account boarding.
              example: ' '
            statementDeliveryMode:
              maxLength: 1
              type: string
              description: This field signifies the statement delivery mode. <br/>The
                values are:<br/> &nbsp; 'E' - e-Statement <br/> &nbsp; 'P' - Hardcopy
              example: E
              enum:
              - E
              - P
            temporaryCreditLimit:
              maxLength: 17
              type: string
              description: This is the temporary line of credit for the account in
                whole monetary units.
              example: '0.00'
            temporaryCreditLimitExpiryDate:
              maxLength: 10
              type: string
              description: This expiry date is for the temporary line of credit for
                the account in whole monetary units. The format is MM/DD/YYYY or DD/MM/YYYY
                depending on the DATE FORMAT on System Control.
              example: 00/00/0000
        accountId:
          maxLength: 19
          type: string
          description: Unique identification number for cardholder billing account.
            <br/>The values are:<br/> &nbsp; 'Alphanumeric' - Predetermined account
            number <br/> &nbsp; '/ (slash)' - CMS generates the account number automatically
          example: /
        accountInsuranceProductDetails:
          type: object
          properties:
            cancelReason:
              maxLength: 1
              type: string
              description: Cancel Reason of Account Insurance/Product Data. <br/>The
                values are:<br/> &nbsp; 'C' - Insurance Chargeoff <br/> &nbsp; 'D'
                - Insurance Delinquency <br/> &nbsp; 'R' - Insurance Requested <br/>
                &nbsp; 'U' - Insurance Underwriting <br/> &nbsp; 'A' - Insurance Age
                <br/> &nbsp; 'P' - Insurance Closed <br/> &nbsp; 'T' - Insurance Truncated
                <br/> &nbsp; 'X' - Insurance Other <br/> &nbsp; 'B' - Insurance Block
                Code Auto <br/> &nbsp; 'M' - Insurance Block Code Man <br/> &nbsp;
                'F' - Insurance Fiche Number <br/> &nbsp; 'G' - Insurance Enroll Age
                <br/> &nbsp; 'I' - Insurance Minimum Age <br/> &nbsp; 'J' - Insurance
                Invalid Table <br/> &nbsp; ' ' - Insurance In Force
              example: ' '
              enum:
              - ' '
              - C
              - D
              - U
              - A
              - P
              - T
              - X
              - B
              - M
              - F
              - G
              - I
              - J
              - R
            dualIndicator:
              maxLength: 1
              type: string
              description: Dual Indicator of Insurance product. <br/>The values are:<br/>
                &nbsp; 'L' or ' ' - Local Account <br/> &nbsp; 'F' - Foreign Account
              example: ' '
              enum:
              - L
              - F
              - ' '
            effectiveDate:
              maxLength: 10
              type: string
              description: Effective Date of Account Insurance/Product Data. The format
                is MM/DD/YYYY or DD/MM/YYYY depending on the DATE FORMAT on System
                Control.
              example: 00/00/0000
            enrollId:
              maxLength: 3
              type: string
              description: Enroll ID of Account Insurance/Product Data.
              example: ''
            ficheNumber:
              maxLength: 9
              type: string
              description: Fiche Number of Account Insurance/Product Data.
              example: ''
            insuredPartyIndicator:
              maxLength: 1
              type: string
              description: Insured Party Indicator of Account Insurance/Product Data.
                <br/>The values are:<br/> &nbsp; '0' - Owner valid <br/> &nbsp; '1'
                - Co-owner valid <br/> &nbsp; '2' - Third-party valid <br/> &nbsp;
                '3' - Both parties valid
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
            isMailLetterEnabled:
              maxLength: 1
              type: string
              description: Mail Letter of Account Insurance/Product Data. <br/>The
                values are:<br/> &nbsp; '0' - Dont send letter(default)<br/> &nbsp;
                '1' - Send Letter
              example: '0'
              enum:
              - '0'
              - '1'
            isMailLetterFeeEnabled:
              maxLength: 1
              type: string
              description: Mail Letter Fee for Account Insurance/Product Data. <br/>The
                values are:<br/> &nbsp; '0' - Charge letter fee (default)<br/> &nbsp;
                '1' - Do not charge letter fee
              example: '0'
              enum:
              - '0'
              - '1'
            mailStatement:
              maxLength: 1
              type: string
              description: Mail Statement of Account Insurance/Product Data. <br/>The
                values are:<br/> &nbsp; '0' - Dont send statement(default)<br/> &nbsp;
                '1' - Send statement
              example: '0'
              enum:
              - '0'
              - '1'
            premiumRate:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: Premium Rate of Account Insurance/Product Data.
              example: '0'
            productCode:
              maxLength: 2
              type: string
              description: Product Code of insurance product.
              example: ''
            source:
              maxLength: 2
              type: string
              description: Source of Account Insurance/Product Data.
              example: ''
            statusCode:
              maxLength: 1
              type: string
              description: Status Code of Account Insurance/Product Data. <br/>The
                values are:<br/> &nbsp; 'I' or ' ' - Inactive <br/> &nbsp; 'F' - In
                Force
              example: ' '
              enum:
              - F
              - I
              - ' '
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        cardDetails:
          required:
          - cardAction
          type: object
          properties:
            cardAction:
              maxLength: 1
              type: string
              description: This field is the card issue action code that determines
                the action CMS performs during the next run. <br/>The values are:<br/>
                &nbsp; '0' - No action. No cards requested <br/> &nbsp; '1' - Issue
                new card(s). If applicable, also issue a PIN mailer <br/> &nbsp; '2'
                - Issue additional card(s). Value 2 is not valid for smart cards <br/>
                &nbsp; '3' - Issue replacement card(s) <br/> &nbsp; '4' - Returned
                cards <br/> &nbsp; '5' - Produce a new PIN mailer <br/> &nbsp; '6'
                - Issue emergency replacement card(s). Use this value if a card is
                lost or stolen and the replacement card is to be embossed and mailed
                within 24 hour <br/> &nbsp; '7' - Reissue card. <br/> &nbsp; '8' -
                Reissue card with different card numbering scheme (CNS). This system-generated
                value indicates that CMS will reissue the card and update the card
                numbering scheme of the account (CARD SCHEME on Account Details 01-Account
                Base Segment) from 1 (duplicate card numbers with unique entity numbers)
                to 3 (unique card numbers) <br/> &nbsp; '9' - Card technology reissue.
                This systemgenerated value applies only to Embosser entity in the
                local business unit; this value does not appear on an Embosser entity
                in a foreign business unit
              example: '1'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
              - '8'
              - '9'
            cardAddressDetails:
              type: object
              properties:
                addressId:
                  maxLength: 15
                  type: string
                  description: 'Address identifier to determine the type of address.
                    Ex: Home, Office, etc.'
                  example: ' '
                addressLine1:
                  maxLength: 40
                  type: string
                  description: First line of address used for mailing the card and
                    PIN mailer.
                  example: ''
                addressLine2:
                  maxLength: 40
                  type: string
                  description: Second line of address used for mailing the card and
                    PIN mailer.
                  example: ''
                city:
                  maxLength: 30
                  type: string
                  description: City portion of the mailing address for cards and PIN
                    mailers.
                  example: ''
                postalCode:
                  maxLength: 10
                  type: string
                  description: Postal code of the mailing address for cards and PIN
                    mailers.
                  example: ''
                stateprovince:
                  maxLength: 3
                  type: string
                  description: State or province of the mailing address for cards
                    and PIN mailers.
                  example: ''
            cardMailerType:
              maximum: 99
              maxLength: 2
              type: integer
              description: This field is a user-defined code that identifies the type
                of card  mailer to use to mail the card.
              example: '0'
            cardNameDetails:
              type: object
              properties:
                embossedName1:
                  maxLength: 26
                  type: string
                  description: Name to be embossed on the first embossing line of
                    the card.
                  example: Trump
                embossedName2:
                  maxLength: 26
                  type: string
                  description: This is the Additional name to be embossed on the second
                    embossing line of the card.
                  example: ''
                name1:
                  maxLength: 40
                  type: string
                  description: This field identifies the name of the cardholder.
                  example: ''
                name2:
                  maxLength: 40
                  type: string
                  description: This field identifies the name of the cardholder used
                    for mailing the card and PIN mailers.
                  example: ''
            cardType:
              maximum: 99
              maxLength: 2
              type: integer
              description: This field is a user-defined code that indicates the type
                of plastic stock.
              example: '0'
            cardholderFlag:
              maxLength: 1
              type: string
              description: This is the code that indicates whether the card is issued
                as a primary or secondary card. <br/>The values are:<br/> &nbsp; '0'
                - Additional<br/> &nbsp; '1' - Primary
              example: '1'
              enum:
              - '1'
              - '0'
            chequeAccountId:
              maxLength: 17
              type: string
              description: Account cheque details.
              example: ''
            deviceIndicator:
              maxLength: 1
              type: string
              description: 'Code that indicates the type of device (form factor) written
                to the track data on the card. <br/>The MasterCard values are:<br/>
                &nbsp; '' '' - Default <br/> &nbsp; ''1'' - Chip only with PIN <br/>
                &nbsp; ''2'' - Chip only without PIN <br/> &nbsp; ''3'' - Magnetic
                stripe only <br/> &nbsp; ''4'' - PayPass only <br/> &nbsp; ''A'' -
                Chip with PIN and magnetic stripe only <br/> &nbsp; ''B'' - Chip with
                PIN and PayPass only <br/> &nbsp; ''C'' - Chip with PIN and magnetic
                stripe and PayPass <br/> &nbsp; ''D'' - Chip without PIN and with
                magnetic stripe <br/> &nbsp; ''E'' - Chip without PIN and with PayPass
                <br/> &nbsp; ''F'' - Chip without PIN and with magnetic <br/> &nbsp;
                ''G'' - Magnetic stripe only with PIN. <br/> The Visa values are:
                <br/> &nbsp; ''0'' - Full-size standard card, noncontactless (Default)
                <br/> &nbsp; ''1'' - Full-size contactless card <br/> &nbsp; ''2''
                - Standard mini card, noncontactless <br/> &nbsp; ''3'' - Contactless
                mini card <br/> &nbsp; ''4'' - Micro tag <br/> &nbsp; ''5'' - Mobile
                device <br/> &nbsp; ''6'' - Other contactless payment device <br/>
                &nbsp; ''7'' to ''9'' - Reserved'
              example: '0'
              enum:
              - ' '
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
              - '8'
              - '9'
              - A
              - B
              - C
              - D
              - E
              - F
              - G
            externalContractId:
              maxLength: 19
              type: string
              description: Unique identification number assigned to a customer from
                external system.
              example: '0000000000012672379'
            isDynamicCVV2Enabled:
              maxLength: 1
              type: string
              description: 'Code that indicates whether dynamic CVV2 or CVV2 is in
                effect or both. <br/>The values are: <br/>&nbsp; ''0'' - Dynamic CVV2
                disabled/CVV2 in effect<br/>&nbsp; ''1'' - Dynamic CVV2 enabled <br/>&nbsp;
                ''2'' - Dynamic CVV2 with CVV2 fallback'
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
            mccGroupLimits:
              maxLength: 11
              type: string
              description: Merchant Limit.
              example: '0.00'
            mobileDeviceId:
              maxLength: 20
              type: string
              description: Identification of the mobile device associated with a mobile
                payment instrument (PI) embosser.
              example: ''
            mobileProvisionStatus:
              maxLength: 1
              type: string
              description: This flag indicates whether the embosser is for a mobile
                payment instrument (PI) and the current provisioning status for the
                PI. <br/>The values are:<br/> &nbsp; '0' - Not applicable; not a mobile
                PI (Default) <br/> &nbsp; '1' - Mobile PI is ready to be provisioned
                <br/> &nbsp; '2' - Mobile PI provisioning is complete <br/> &nbsp;
                '3' - Previous provisioning of the mobile PI was unsuccessful <br/>
                &nbsp; '4' - Previously provisioned mobile PI is removed and cannot
                be provisioned; the embosser is inactive. For example, this value
                can be set when the embosser is transferred for fraud
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
            name1TypeIndicator:
              maxLength: 1
              type: string
              description: This field identifies the type of name for NAME LINE 1.
                This field displays only for prepaid cards. <br/>The values are:<br/>
                &nbsp; '0' - Personal name (Default) <br/> &nbsp; '3' - Generic name
              example: '0'
              enum:
              - '0'
              - '3'
            name2TypeIndicator:
              maxLength: 1
              type: string
              description: This field identifies the type of name for NAME LINE 2.
                This field displays only for prepaid cards. <br/>The values are:<br/>
                &nbsp; '0' - Personal name (Default) <br/> &nbsp; '3' - Generic name
              example: '0'
              enum:
              - '0'
              - '3'
            numberOfCardsRequested:
              maximum: 99
              maxLength: 2
              type: integer
              description: This field identifies the number of cards required.
              example: '0'
            paymentInstrumentId:
              maxLength: 19
              type: string
              description: Unique alternate identification number associated with
                Payment Card Number.
              example: /
            physicalVirtualIndicator:
              maxLength: 1
              type: string
              description: 'Indicates the card requested is physical or virtual or
                both physical and virtual. <br/>The values are: <br/>&nbsp; ''P''
                - Physical Card <br/>&nbsp; ''V'' - Virtual Card <br/>&nbsp; ''B''
                - Both Physical and Virtual Card'
              example: P
              enum:
              - P
              - V
              - B
            plasticId:
              maxLength: 10
              type: string
              description: User-defined code that identifies the plastic stock used
                to create a card for this Embosser entity.
              example: ''
            posServiceCode:
              maximum: 999
              maxLength: 3
              type: integer
              description: This field indicates the type of point-of-sale service
                in effect for a card.
              example: '0'
            programId:
              maximum: 999999999
              maxLength: 9
              type: integer
              description: This is the identification number of the smart card program.
              example: '0'
            requestedCardType:
              maximum: 99
              maxLength: 2
              type: integer
              description: This field is a user-defined code that identifies the type
                of card requested.
              example: '0'
            savingAccountId:
              maxLength: 17
              type: string
              description: Customer Savings account number.
              example: ''
            visaMiniIndicator:
              maxLength: 1
              type: string
              description: Code that indicates the version of Visa Mini card. <br/>The
                values are:<br/> &nbsp; '0' - None <br/> &nbsp; '1' - Standalone <br/>
                &nbsp; '2' - Companion
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
        createAccountRecord:
          maxLength: 1
          type: string
          description: This is the code that indicates whether to add a new account
            id. <br/>The values are:<br/> &nbsp; 'N' - Don't add <br/> &nbsp; 'Y'
            - Add new entity
          example: Y
          enum:
          - Y
          - N
        customerDemographicDetails:
          type: object
          properties:
            addressDetails:
              type: object
              properties:
                addressLine1:
                  maxLength: 40
                  type: string
                  description: This is mailing address for the owner.
                  example: ''
                addressLine2:
                  maxLength: 40
                  type: string
                  description: This is mailing address for the owner.
                  example: ''
                addressLine3:
                  maxLength: 40
                  type: string
                  description: ' This is mailing address for the owner.'
                  example: ''
                addressLine4:
                  maxLength: 40
                  type: string
                  description: This is mailing address for the owner.
                  example: ''
                city:
                  maxLength: 30
                  type: string
                  description: City portion of the mailing address of the owner.
                  example: ''
                countryCode:
                  maxLength: 3
                  type: string
                  description: The value entered must be a valid country code previously
                    defined in the Security Subsystem and Common Routines (SSC) system.
                  example: ''
                postalCode:
                  maxLength: 10
                  type: string
                  description: Postal code portion of the mailing address of the owner.
                  example: ''
                state:
                  maxLength: 3
                  type: string
                  description: Name of state portion of the mailinga ddress of the
                    owner.
                  example: ''
            alternateEmailAddress:
              maxLength: 50
              type: string
              description: This field indicates alternate e-mail address of the owner.
              example: ''
            birthDate:
              maxLength: 10
              type: string
              description: Customer Date of Birth. The format is MM/DD/YYYY or DD/MM/YYYY
                depending on the DATE FORMAT on System Control.
              example: 01/02/2010
            dualFlag:
              maxLength: 1
              type: string
              description: 'This field indicates whether CMS adds a duplicate customer
                entity in the associated business unit for dual currency processing.
                <br/>The values are: <br/> &nbsp; ''0'' - Do not duplicate the customer
                entity in the associated business unit (Default) <br/> &nbsp; ''1''
                - Duplicate the customer entity in the associated business unit'
              example: '0'
              enum:
              - '0'
              - '1'
            emailAddress:
              maxLength: 60
              type: string
              description: This field indicates e-mail address of the owner.
              example: ''
            emailAddressFlag:
              maxLength: 1
              type: string
              description: This field indicates whether you have the owner’s permission
                to use this e-mail address. <br/>The values are:<br/> &nbsp; '0' -
                No, owner may not be contacted using this e-mail address (Default)
                <br/> &nbsp; '1' - Yes, owner may be contacted using this e-mail address
                <br/> &nbsp; '2' - Preferred contact method
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
            employeePhone:
              maxLength: 20
              type: string
              description: ' This field is the work telephone number.'
              example: '67894'
            externalId:
              maxLength: 25
              type: string
              description: National ID Number of the owner.
              example: ''
            gender:
              maxLength: 25
              type: string
              description: This flag indicates the onwer's gender. <br/>The values
                are:<br/> &nbsp; '0' - Unspecified (Default) <br/> &nbsp; '1' - Male
                <br/> &nbsp; '2' - Female
              example: '1'
              enum:
              - '0'
              - '1'
              - '2'
            homePhone:
              maxLength: 20
              type: string
              description: This field is the owner’s home telephone number.
              example: '11230342'
            mobileNumber:
              maxLength: 20
              type: string
              description: Customer mobile number.
              example: ''
            nameDetails:
              required:
              - givenName
              type: object
              properties:
                birthName:
                  maxLength: 40
                  type: string
                  description: This field indicates the last name of the owner.
                  example: ''
                givenName:
                  maxLength: 40
                  type: string
                  description: This field indicates the first name of the owner.
                  example: Tom
                middleName:
                  maxLength: 40
                  type: string
                  description: This field indicates the middle name of the owner.
                  example: ''
                nameLine1:
                  maxLength: 40
                  type: string
                  description: This field indicates the owner personal name, business
                    name, or a generic name.
                  example: ''
                nameLine2:
                  maxLength: 40
                  type: string
                  description: This field indicates the owner name.
                  example: ''
                nameLine3:
                  maxLength: 40
                  type: string
                  description: This field indicates the owner name.
                  example: ''
            nameTypeIndicator1:
              maxLength: 1
              type: string
              description: This field identifies the type of the customer. <br/>The
                values are:<br/> &nbsp; '0' - Customer entity associated with personal
                account (Default) <br/> &nbsp; '1' - Customer entity is associated
                with business<br/> &nbsp; '3' - Customer entity is generic customer
              example: '0'
              enum:
              - '0'
              - '1'
              - '3'
            nameTypeIndicator2:
              maxLength: 1
              type: string
              description: This field identifies the type of the customer. <br/>The
                values are:<br/> &nbsp; '0' - Customer entity associated with personal
                account (Default) <br/> &nbsp; '1' - Customer entity is associated
                with business<br/> &nbsp; '3' - Customer entity is a generic customer
              example: '0'
              enum:
              - '0'
              - '1'
              - '3'
            nameTypeIndicator3:
              maxLength: 1
              type: string
              description: This field identifies the type of the customer. <br/>The
                values are:<br/> &nbsp; '0' - Customer entity associated with personal
                account (Default) <br/> &nbsp; '1' - Customer entity is associated
                with business<br/> &nbsp; '3' - Customer entity is a generic customer
              example: '0'
              enum:
              - '0'
              - '1'
              - '3'
            residenceFlag:
              maxLength: 1
              type: string
              description: This code indicates whether the owner owns or rents their
                primary residence. <br/>The values are:<br/> &nbsp; '0' - Unknown
                or unused (Default) <br/> &nbsp; '1' - Owns or is buying a home <br/>
                &nbsp; '2' - Rents or leases a home <br/> &nbsp; '3' - Neither owns
                nor rents primary residence
              example: '1'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
            title:
              maxLength: 20
              type: string
              description: Professional or honorary title associated with the owner
                name entered in the NAME LINE 1 field.
              example: ''
        customerId:
          maxLength: 19
          type: string
          description: Unique identification number assigned to a customer. <br/>The
            values are:<br/> &nbsp; 'Alphanumeric' - Predetermined customer number
            <br/> &nbsp; '/ (slash)' - CMS uses the account number assigned to the
            Account Base Segment entity
          example: /
        isCustomerIdEnabled:
          maxLength: 1
          type: string
          description: This is the code that indicates whether to add a new customer
            id.<br/>The values are:<br/> &nbsp; 'N' - Don't add <br/> &nbsp; 'Y' -
            Add new entity
          example: Y
          enum:
          - Y
          - N
        isInsuranceProductEnabled:
          maxLength: 1
          type: string
          description: This is the code that indicates whether to add an Insurance
            Product entity. <br/>The values are:<br/> &nbsp; 'N' - Don't add entity
            <br/> &nbsp; 'Y' - Add entity
          example: N
          enum:
          - N
          - Y
        isPaymentInstrumentIdEnabled:
          maxLength: 1
          type: string
          description: This is the code that indicates whether to add a new payment
            instrument id. <br/>The values are:<br/> &nbsp; 'N' - Don't add <br/>
            &nbsp; 'Y' - Add new entity
          example: Y
          enum:
          - Y
          - N
        isRelationshipEnabled:
          maxLength: 1
          type: string
          description: This is the code that indicates whether to add a new Relationship
            entity.<br/>The values are:<br/> &nbsp; 'N' - Don't add <br/> &nbsp; 'Y'
            - Add new entity
          example: N
          enum:
          - N
          - Y
        isSameCustomerIdAccountIdEnabled:
          maxLength: 1
          type: string
          description: This is the code that indicates whether CUSTOMER IDENTIFICATION
            and BASE ACCOUNT NUMBER are to be the same number. <br/>The values are:<br/>
            &nbsp; 'N' - No, the customer number and account number are not the same
            number <br/> &nbsp; 'Y' - Yes, the customer number that identifies the
            Customer Name/Address entity and the account number that identifies the
            Account Base Segment entity are the same number (Default)
          example: N
          enum:
          - Y
          - N
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '1'
        relationshipDetails:
          type: object
          properties:
            accountControlTableOverride:
              maximum: 999
              maxLength: 3
              type: integer
              description: Identification number of the Account Control Table used
                by subordinate accounts in this relationship. This table number overrides
                the Account Control table in the Processing Control Table that is
                assigned to each account.
              example: '0'
            authorizationCriteriaTable:
              maxLength: 3
              type: string
              description: Identification number of the Authorization Criteria table
                assigned to the account.
              example: ''
            availableReservePctAmount:
              maxLength: 17
              type: string
              description: Amount or percentage available to accounts within this
                relationship if the account credit limit is exceeded.
              example: '0.00'
            billingLevel:
              maxLength: 1
              type: string
              description: This field (BILLING LEVEL) is the billing level for the
                relationship. <br/>The values are:<br/>&nbsp; '0' - Bill at relationship
                level<br/>&nbsp; '1' - Bill at subordinate level (Default)<br/>&nbsp;
                '2' - Combined billing either at relationship or subordinate level
              example: '1'
              enum:
              - '1'
              - '0'
              - '2'
            commercialFlag:
              maxLength: 1
              type: string
              description: Flag that indicates whether this is a commercial card relationship.
                <br/>The values are:<br/>&nbsp; '0' - Not a commercial card relationship
                (Default)<br/>&nbsp; '1' - Visa corporate card relationship<br/>&nbsp;
                '2' - Visa purchasing card relationship<br/>&nbsp; '3' - HCS commercial
                card relationship<br/>&nbsp; '4' - Non-HCS commercial card
              example: '0'
              enum:
              - '0'
              - '1'
              - '2'
              - '3'
              - '4'
            contactName:
              maxLength: 30
              type: string
              description: Name of the primary contact for the commercial relationship
              example: ''
            contactPhone:
              maxLength: 20
              type: string
              description: Telephone number of the primary contact.
              example: ''
            corporateCustomerId:
              maxLength: 19
              type: string
              description: Identification number of the Customer Name/Address entity
                for the corporation to which the purchasing card is assigned.
              example: ''
            costCenterReportingNumber:
              maxLength: 16
              type: string
              description: Number used to associate cardholder-initiated transactions
                to the relationship.
              example: ''
            currentExpiryDate:
              maxLength: 10
              type: string
              description: Current expiry date of relationship. The format is MM/DD/YYYY
                or DD/MM/YYYY depending on the DATE FORMAT on System Control.
              example: 00/00/0000
            customerGroupCode:
              maxLength: 3
              type: string
              description: Code used to identify relationships by group code. This
                field defaults to all subordinate accounts in the relationship and
                to all Embosser entity added to the subordinate accounts.
              example: ''
            defaultCreditLimit:
              maxLength: 17
              type: string
              description: This field is the credit limit in whole monetary units
                that defaults to each subordinate account (CREDIT LMT on account id)
                in the relationship. The sum of all subordinate account credit limits
                within a relationship must not exceed the relationship credit limit
              example: '0.00'
            feeDetails:
              type: object
              properties:
                annualFeeAssessmentLevel:
                  maxLength: 1
                  type: string
                  description: 'This field is a code that indicates the level at which
                    to charge the annual fee for the relationship. <br/>The values
                    are: <br/>&nbsp; ''0'' - Subordinate account level (Default) <br/>&nbsp;
                    ''1'' - Primary account level <br/>&nbsp; ''2'' - Do not charge
                    annual fee'
                  example: '0'
                  enum:
                  - '0'
                  - '1'
                  - '2'
                isAnnualFeeModificationEnabled:
                  maxLength: 1
                  type: string
                  description: 'field indicates whether you can modify the waive annual
                    fee flag at the subordinate account level. <br/>The values are:
                    <br/>&nbsp; ''0'' - Modification is allowed (Default)<br/>&nbsp;
                    ''1'' - Modification is not allowed'
                  example: '0'
                  enum:
                  - '0'
                  - '1'
                isLateFeeModificationEnabled:
                  maxLength: 1
                  type: string
                  description: This field indicates whether you can modify the late
                    waive late charges flag assigned to the subordinate accounts within
                    the relationship. <br/>The values are:<br/>&nbsp; '0' - Modification
                    is allowed (Default)<br/>&nbsp; '1' - Modification is not allowed
                  example: '0'
                  enum:
                  - '0'
                  - '1'
                isNsfFeeModificationEnabled:
                  maxLength: 1
                  type: string
                  description: This field indicates whether you can modify the waive
                    NSF fee flag at the subordinate account level. <br/>The values
                    are:<br/>&nbsp; '0' - Modification is allowed (Default)<br/>&nbsp;
                    '1' - Modification is not allowed
                  example: '0'
                  enum:
                  - '0'
                  - '1'
                lateFeeAssessmentLevel:
                  maxLength: 1
                  type: string
                  description: 'This field is a code that indicates the level at which
                    to charge late fees for the relationship. <br/>The values are:
                    <br/>&nbsp; ''0'' - Subordinate account level (Default) <br/>&nbsp;
                    ''1'' - Primary account level <br/>&nbsp; ''2'' - Do not charge
                    late fees'
                  example: '0'
                  enum:
                  - '0'
                  - '1'
                  - '2'
                nsfFeeAssessmentLevel:
                  maxLength: 1
                  type: string
                  description: This field is a code that indicates the level at which
                    to charge NSF fees for the relationship. <br/>The values are:<br/>&nbsp;
                    '0' - Subordinate account level (Default) <br/>&nbsp; '1' - Primary
                    account level<br/>&nbsp; '2' - Do not charge NSF fees
                  example: '0'
                  enum:
                  - '0'
                  - '1'
                  - '2'
            fiscalYearEnd:
              maximum: 99
              maxLength: 2
              type: integer
              description: Flag that indicates whether the fiscal year-end report
                is to beproduced at the Merchant Category Code (MCC) level for the
                account. <br/>The values are:<br/>&nbsp; '00' - Do not produce report
                at MCC level. (Default)<br/>&nbsp; '01' to '12' - Produce reports
[...]
