openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.9.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: Product Management
paths:
  /v1/products/{planId}/planDetails:
    get:
      description: This API is used to fetch plan details for a given plan Id. Plan
        Ids are control entities that will be defined at the business unit level.
        Plans are defined to specify the various methods that are being offered to
        the customer. It will contain information like description, interest table
        override options, cancellation or expiry parameters based on account's performance
        etc.
      operationId: InquirePlanMaster
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Identification number of the Credit Plan Master entity. The values
          are 1–99998. You can establish as many as 99,998 Credit Plan Master entity
          for each organization.
        in: path
        name: planId
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '10002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquirePlanMasterV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Plan Master
      tags:
      - Product Management
      x-group-name: Product Management
      x-proxy-name: Inquire Plan Master
  /v1/products/{productId}/blockCodeMatrix:
    get:
      description: This API is used to fetch controls defined for each block code
        at product level.
      operationId: InquireBlockCodeMatrix
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '700'
      - description: Unique identification number of the product associated with the
          organization. Valid values are 1-998.
        in: path
        name: productId
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireBlockCodeMatrixV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Block Code Matrix
      tags:
      - Product Management
      x-group-name: Product Management
      x-proxy-name: Inquire Block Code Matrix
  /v1/products/{productId}/cardControls:
    put:
      description: This API is used to update card control restriction flags and spend
        limits for a given product Id. This API can be invoked with a business unit
        and product Id.
      operationId: UpdateProductCardControls
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number of the product associated with the
          organization. Valid values from 1-998.
        in: path
        name: productId
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductCardControlV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProductCardControlV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Update Product Card Controls
      tags:
      - Product Management
      x-group-name: Product Management
      x-proxy-name: Update Product Card Controls
  /v1/products/{productId}/details:
    get:
      description: This API is used to fetch details for a given product Id. Products
        are primary control records that gives client option to enable or disable
        various functionalities like Card activation, PIN mailer, Loan feature, Collections,
        Loyalty, Falcon, Alerts etc.
      operationId: InquireProduct
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number of the product associated with the
          organization. Valid values are 1-998.
        in: path
        name: productId
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireProductV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Product
      tags:
      - Product Management
      x-group-name: Product Management
      x-proxy-name: Inquire Product
  /v1/products/{productId}/interestTable:
    get:
      description: This API is used to fetch details of Interest Table. An Interest
        table identifies a set of parameters which include interest controls, interest
        rounding detail, interest calculation options, interest rates detail, balances
        for interest calculation and interest parameters for combined grace and cycle
        options.
      operationId: InquireInterestTable
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Identification number of the Interest table. The values are 1–998.
        in: query
        name: tableId
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '1'
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number of the product associated with the
          organization. If the table is defined at organization level, populate this
          field as zeroes. For tables defined at product level, valid values are 0-998.
        in: path
        name: productId
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '0'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireInterestTableV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Interest Table
      tags:
      - Product Management
      x-group-name: Product Management
      x-proxy-name: Inquire Interest Table
  /v1/products/{productId}/serviceChargeDetails:
    get:
      description: 'This API is used to fetch various service fee details available
        in the system for a given business unit, product Id and table ID combination.
        The parameters for a Service Charge/Fee table fall into five general categories:
        penalty fees, periodic fees, service fees, user fees, and prepaid fees etc.'
      operationId: InquireServiceChargeTable
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMEFVTkFCIiwiZXhwIjoxNzUwMzkyMDAwfQ.O6ZW0FnlWN09GqPeTEgWTQ9Gq6LPyt7BWTx65z7a0DKJQWBZ-pz29NX9xcuk-1ZdoLbKd_jPpwLNYGfS4KsuOLz1tQj1-teV2JO10DHxxthlG1-IGUIMyI5MivzNFlvLEG6TipqdQd3WdNl2juqlHKpDY86N0Z_Fg3n9igw4pFDzdGpHle5_4vGnl9PkYBA_WoWtgic05_63s5j6kmWbPkrV22NsHtOjJIh0sN1Q7sArecVnJCI7mwGVC5xasLGTO-Nn3hx6r8Y2mBv1Fv39LO_rUYcaK1RXS_xkoJV_3NdopGgfq4hp9F0naCKWxUxW1oaCaGCqk3p6xhkyDsJgaQ
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Unique identification number associated with the organization.
          Valid values from 1-998.
        in: query
        name: businessUnit
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '600'
      - description: Unique identification number of the product associated with the
          organization. If the table is defined at organization level, populate this
          field as zeroes. For tables defined at product level, valid values are 0-998.
        in: path
        name: productId
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '0'
      - description: Identification number of the Service Charge/Fee table. The values
          are 1–998.
        in: query
        name: tableId
        required: true
        schema:
          maximum: 999
          maxLength: 3
          type: integer
          example: '3'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireServiceChargeTableV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: Inquire Service Charge Table
      tags:
      - Product Management
      x-group-name: Product Management
      x-proxy-name: Inquire Service Charge Table
components:
  schemas:
    BlockCodeControls_InquireBlockCodeMatrixV1ResponseModel:
      type: object
      properties:
        acsBlockCode:
          maximum: 999
          maxLength: 3
          type: integer
          description: Field used to map the corresponding VisionPLUS alpha block
            code (A–Z) to a numeric TRIAD block code. This value is passed during
            linkage to TRIAD.
          example: '0'
        authorizationAction:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates how system handles authorizations for accounts
            assigned this block code. This value becomes WARNING CODE 1 on Account
            Details 02-Credit Scores&Associated Parties in the Account Base Segment
            record. <br/>The values are:<br/>&nbsp; '0' - Normal authorizations (Default)
            <br/>&nbsp; '1' - Decline <br/>&nbsp; '2' - Decline and pick up <br/>&nbsp;
            '3' - Decline and pick up for fraud or lost/stolen card <br/>&nbsp; '4'
            - Decline with referral <br/>&nbsp; '5' - Approve after verifying cardholder
            ID <br/>&nbsp; '6' - Decline for suspected fraud <br/>&nbsp; '8' - Decline
            with a user exit <br/>&nbsp; '9' - VIP account; always approve
          example: '0'
        autoBlockCodeAssignment:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates the conditions under which system automatically
            assigns block codes to accounts. <br/>The values are:<br/>&nbsp; '0' -
            Do not automatically assign this block code to accounts (Default) <br/>&nbsp;
            '1' - Automatically assign this block code to the BLOCK CODE 1 field when
            the account reaches the delinquency level specified in the RD or CD field.
            system automatically removes this block code when the account delinquency
            level is less than the level specified in the RD or CD field <br/>&nbsp;
            '2' - Automatically assign this block code to the BLOCK CODE 2 field when
            the account reaches the delinquency level specified in the RD or CD field.
            system automatically removes this block code when the account delinquency
            level is less than the level specified in the RD or CD field <br/>&nbsp;
            '3' - Automatically assign this block code to the BLOCK CODE 1 field when
            the account reaches the delinquency level specified in RD or CD field.
            You must remove this block code manually when the account delinquency
            level is less than the level specified in the RD or CD field <br/>&nbsp;
            '4' - Automatically assign this block code to the BLOCK CODE 2 field when
            the account reaches the delinquency level specified in the RD or CD field.
            You must remove this block code manually when the account delinquency
            level is less than the level specified in the RD or CD field
          example: '0'
        autoLetterCode1:
          maxLength: 3
          type: string
          description: This flag identifies the letter to send when a block code has
            been assigned to an account the number of days in the corresponding AUTO
            LETTER DAYS 1–4 field.
          example: B11
        autoLetterCode2:
          maxLength: 3
          type: string
          description: This flag identifies the letter to send when a block code has
            been assigned to an account the number of days in the corresponding AUTO
            LETTER DAYS 1–4 field.
          example: B12
        autoLetterCode3:
          maxLength: 3
          type: string
          description: This flag identifies the letter to send when a block code has
            been assigned to an account the number of days in the corresponding AUTO
            LETTER DAYS 1–4 field.
          example: B13
        autoLetterCode4:
          maxLength: 3
          type: string
          description: This flag identifies the letter to send when a block code has
            been assigned to an account the number of days in the corresponding AUTO
            LETTER DAYS 1–4 field.
          example: B14
        autoLetterDays1:
          maximum: 999
          maxLength: 3
          type: integer
          description: Number of days that the account must have a block code before
            system initiates the corresponding letter.
          example: '1'
        autoLetterDays2:
          maximum: 999
          maxLength: 3
          type: integer
          description: Number of days that the account must have a block code before
            system initiates the corresponding letter.
          example: '1'
        autoLetterDays3:
          maximum: 999
          maxLength: 3
          type: integer
          description: Number of days that the account must have a block code before
            system initiates the corresponding letter.
          example: '1'
        autoLetterDays4:
          maximum: 999
          maxLength: 3
          type: integer
          description: Number of days that the account must have a block code before
            system initiates the corresponding letter.
          example: '1'
        blockCode:
          maxLength: 1
          type: string
          description: Block code, valid values are space and A-Z.
          example: A
        cancelInsuranceIndicator:
          maxLength: 1
          type: string
          description: Code that indicates whether system cancels insurance or an
            additional account product for accounts assigned this block code. <br/>The
            values are:<br/>&nbsp; 'A' - Cancel insurance/product. system automatically
            reinstates insurance/product on the cycle date when the block code is
            removed from the account <br/>&nbsp; 'M' - Cancel insurance/product and
            reinstate manually <br/>&nbsp; 'N' - No effect (Default)
          example: N
        collectionIndicator:
          maxLength: 1
          type: string
          description: This is a flag which indicates which block codes cause system
            to pass an account to CTA. The block codes are a blank (or space) and
            the letters A to Z. The first position of this field is untitled and identifies
            the blank block code. The remaining positions of this field are identified
            A to Z for each remaining block code. <br/>The values are:<br/>&nbsp;
            'N' - Do not send to CTA (Default) <br/>&nbsp; 'H' - Send to CTA with
            highest priority <br/>&nbsp; 'L' - Send to CTA with lowest priority
          example: N
        contractualDelinquencyLevel:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that determines the degree of contractual delinquency
            at which system automatically assigns this block code to an account. Use
            this field only if BLOCK CODE is 1–4. <br/>The values are:<br/>&nbsp;
            '0' - Do not set assign this block code due to contractual delinquency
            (Default) <br/>&nbsp; '1-9' - Assign the block code when an account reaches
            this level of contractual delinquency
          example: '0'
        creditBureauIndicator:
          maxLength: 1
          type: string
          description: Code that indicates whether system affects credit bureau reporting
            for accounts assigned this block code. <br/>The values are:<br/>&nbsp;
            'N' - Do not report account to credit bureau (Default) <br/>&nbsp; 'Y'
            - Report normally
          example: N
        creditBureauStatus:
          maximum: 99
          maxLength: 2
          type: integer
          description: Code that indicates the status reported to the credit bureau
            for any account assigned this block code.
          example: '0'
        defermentsIndicator:
          maxLength: 1
          type: string
          description: Code that indicates how system affects revolving payment conditions
            for accounts assigned this block code. <br/>The values are:<br/>&nbsp;
            'N' - No effect (Default) <br/>&nbsp; 'A' - Cancel any outstanding ITO
            plans <br/>&nbsp; 'B' - Bill account for entire outstanding balance <br/>&nbsp;
            'C' - Cancel any outstanding deferments
          example: N
        description:
          maxLength: 15
          type: string
          description: This field describes each of the block code. system prints
            the block code description on reports.
          example: ' '
        frequentShopperIndicator:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that determines the effect a block code has on the accumulation
            of frequent shopper points. You can assign a separate value for each block
            code. Valid block codes are blank (or space) and the letters A to Z. The
            first field is untitled and is used to enter a value for the blank block
            code. The remaining fields, A to Z, are used to enter values for the remaining
            block codes. <br/>The values are:<br/>&nbsp; '0' - Accounts with this
            block code may earn and redeem points (Default) <br/>&nbsp; '1' - Accounts
            with this block code may earn but not redeem points <br/>&nbsp; '2' -
            Accounts with this block code may not earn points but can redeem them
            <br/>&nbsp; '3' - Accounts with this block code may not earn or redeem
            points
          example: '0'
        isBlockedAccountReportEnabled:
          maxLength: 1
          type: string
          description: Code that determines whether accounts assigned this block code
            appear on the Blocked Account Report (O07). <br/>The values are:<br/>&nbsp;
            'N' - Do not report accounts (Default) <br/>&nbsp; 'Y' - Report accounts
          example: N
        isSuppressLetterEnabled:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates whether system suppresses letters for accounts
            assigned this block code. <br/>The values are:<br/>&nbsp; '0' - Do not
            suppress letters (Default) <br/>&nbsp; '1' - Suppress letters
          example: '0'
        nextBlockCode:
          maxLength: 1
          type: string
          description: Block code to which system automatically migrates the account.
            <br/>The values are:<br/>&nbsp; ' ' - Migrate the block code off the account.
            (Default) <br/>&nbsp; 'A-Z' - Block code to which the account migrates
          example: ' '
        nextBlockMigrationDays:
          maximum: 99
          maxLength: 2
          type: integer
          description: Number of days this block code remains in effect before system
            automatically migrates the account to the next block code. Use this field
            only if BC is 1–4. <br/>The values are:<br/>&nbsp; '0' - Do not automatically
            migrate (Default) <br/>&nbsp; '1-99' - Number of days before system migrates
            to the next block code
          example: '0'
        postingIndicator:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that determines how system posts transactions to accounts
            assigned this block code (including charged-off accounts). <br/>The values
            are:<br/>&nbsp; '0' - Post normally (Default) <br/>&nbsp; '1' - Post normally
            and report <br/>&nbsp; '2' - Nonpost all transactions <br/>&nbsp; '3'
            - Nonpost all transactions and report on the Transactions by Block Code
            report (O04) <br/>&nbsp; '4' - Nonpost debits and report <br/>&nbsp; '5'
            - Nonpost debits
          example: '0'
        priority:
          maximum: 99
          maxLength: 2
          type: integer
          description: This is the priority levels you establish to control the assignment
            of block codes. The values are 0–99 with 0 as the lowest priority and
            99 as the highest priority. The default is 0.
          example: '12'
        recencyDelinquencyLevel:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that determines the degree of recency delinquency at which
            system automatically assigns this block code to an account. Use this field
            only if BC is 1–4. <br/>The values are:<br/>&nbsp; '0' - Do not set assign
            this block code due to contractual delinquency (Default) <br/>&nbsp; '1-9'
            - Assign the block code when an account reaches this level of recency
            delinquency
          example: '0'
        reissueIndicator:
          maxLength: 1
          type: string
          description: Code that determines how system handles card reissue for accounts
            assigned this block code. This block code applies only to accounts that
            have an Embosser record assigned. <br/>The values are:<br/>&nbsp; 'Y'
            - Issue or reissue card. (Default) <br/>&nbsp; 'N' - Do not reissue card
            and do not generate report <br/>&nbsp; 'D' - Defer issue or reissue <br/>&nbsp;
            'R' - Do not reissue card but generate review report
          example: Y
        skipPaymentIndicator:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates the type of skip payments that are excluded
            for accounts assigned this block code. <br/>The values are:<br/>&nbsp;
            '0' - Do not exclude accounts assigned this block code from either automatic
            or manual skip payment processing (Default) <br/>&nbsp; '1' - Exclude
            accounts assigned this block code from automatic skip payment processing
            <br/>&nbsp; '2' - Exclude accounts assigned this block code from manual
            skip payment processing <br/>&nbsp; '3' - Exclude accounts assigned this
            block code from both automatic and manual skip payment processing <br/>&nbsp;
            '4' - Skip payment processing is active for accounts assigned this block
            code
          example: '0'
        statementIndicator:
          maxLength: 1
          type: string
          description: Code that indicates how system affects statement processing
            for accounts assigned this block code. <br/>The values are:<br/>&nbsp;
            '0' - User-defined Statement Hold Code 10 <br/>&nbsp; '1-9' - User-defined
            Statement Hold Code 1–9 <br/>&nbsp; 'H' - Hold statement <br/>&nbsp; 'N'
            - Normal statement (Default) <br/>&nbsp; 'O' - Online archive statement
            <br/>&nbsp; 'U' - Suppress statement generation. This value will override
            the Max Months logic on the Account Processing table <br/>&nbsp; 'Z' -
            User-defined value to suppress statement generation (use of this value
            indicates that you have customized logic in place)
          example: N
        topUpRedrawIndicator:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates how system controls the top-up, redraw,
            and restructure requests for accounts assigned this block code. <br/>The
            values are:<br/>&nbsp; '0' - Top-up, redraw, and restructure are allowed
            (Default) <br/>&nbsp; '1' - Top-up and restructure are allowed; redraw
            is not allowed <br/>&nbsp; '2' - Redraw and restructure are allowed; top-up
            is not allowed <br/>&nbsp; '3' - Top-up and redraw are not allowed; restructure
            is allowed <br/>&nbsp; '4' - Top-up, redraw, and restructure are not allowed
          example: '0'
        waiveFinanceChargeIndicator:
          maxLength: 1
          type: string
          description: Code that indicates how system calculates the finance charge
            for accounts assigned this block code. <br/>The values are:<br/>&nbsp;
            'N' - Normal finance charge (Default) <br/>&nbsp; 'D' - Defer finance
            charge <br/>&nbsp; 'W' - Waive finance charge
          example: N
        waiveLateFeeIndicator:
          maxLength: 1
          type: string
          description: Code that indicates whether system waives late charges for
            accounts assigned this block code. <br/>The values are:<br/>&nbsp; 'N'
            - Do not waive late charges (Default) <br/>&nbsp; 'Y' - Waive late charges
          example: N
        waiveMembershipFeeIndicator:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that indicates whether system waives account-level membership
            fees and supplemental card membership fees for accounts assigned this
            block code. <br/>The values are:<br/>&nbsp; '0' - Do not waive membership
            fees (Default) <br/>&nbsp; '1' - Waive membership fee for both account
            and supplemental cards <br/>&nbsp; '2' - Waive membership fee for account
            but do not waive membership fee for supplemental cards <br/>&nbsp; '3'
            - Waive membership fee for supplemental cards but do not waive membership
            fee gfor account
          example: '0'
        waiveNSFChequeFeeIndicator:
          maxLength: 1
          type: string
          description: Code that indicates whether system waives NSF check charges
            for accounts assigned this block code. <br/>The values are:<br/>&nbsp;
            'N' - Do not waive NSF check charges (Default) <br/>&nbsp; 'Y' - Waive
            NSF check charges
          example: N
        waiveOverlimitFeeIndicator:
          maxLength: 1
          type: string
          description: Code that indicates whether system waives overlimit fees for
            accounts assigned this block code. <br/>The values are:<br/>&nbsp; 'N'
            - Do not waive overlimit fees (Default) <br/>&nbsp; 'Y' - Waive overlimit
            fees
          example: N
    BnplTierRangeOfTemplateId_InquireProductV1ResponseModel:
      type: object
      properties:
        configurationTemplate:
          maxLength: 10
          type: string
          description: Field indicates the BNPL configuration template which will
            be defaulted from offer code parameter screen. Field will be used for
            bundled BNPL offer.
          example: TEMPLATE 1
        tierMaximumAmount:
          maxLength: 27
          type: string
          description: Maximum Value of BNPL Template ID. Value is defined as monetary
            units where NOD value is not considered. When business want to set $1000.00
            in maximum then it has to set as 0000000001000.
          example: '0000000010000'
        tierMinimumAmount:
          maxLength: 27
          type: string
          description: Minimum Value of BNPL Template ID. Value is defined as monetary
            units where NOD value is not considered. When business want to set $100.00
            in minimum then it has to set as 0000000000100.
          example: '0000000001000'
    InquireBlockCodeMatrixV1ResponseModel:
      type: object
      properties:
        blockCodeControls:
          type: array
          items:
            $ref: '#/components/schemas/BlockCodeControls_InquireBlockCodeMatrixV1ResponseModel'
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '700'
        productId:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number of the product associated with
            the organization. Valid values are 1-998.
          example: '1'
    InquireInterestTableV1ResponseModel:
      type: object
      properties:
        businessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Unique identification number associated with the organization.
            Valid values from 1-998.
          example: '600'
        includeBalanceFlagsForInterestCalculation:
          type: object
          properties:
            isInterestOnCollectionFeesEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on collection
                fees. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnInsuranceEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on insurance
                premiums. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnInterestEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on interest
                (finance charge compounding). <br/>The values are:<br/>&nbsp; '0'
                - Do not charge interest (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnLateFeeEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on late
                fees. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '1'
            isInterestOnMembershipFeeEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on membership
                fees (also referred to as annual fees). <br/>The values are:<br/>&nbsp;
                '0' - Do not charge interest (Default) <br/>&nbsp; '1' - Charge interest
              example: '1'
            isInterestOnNsfFeeEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on fees
                assessed for items returned due to nonsufficient funds. <br/>The values
                are:<br/>&nbsp; '0' - Do not charge interest (Default) <br/>&nbsp;
                '1' - Charge interest
              example: '0'
            isInterestOnOverLimitFeeEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on over
                limit fees. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '1'
            isInterestOnRecoveryFeeEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on recovery
                fees. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnServiceFeeEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on service
                charges. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '1'
            isInterestOnUserFee1Enabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on user-defined
                fees 1. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee2Enabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on user-defined
                fees 2. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee3Enabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on user-defined
                fees 3. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee4Enabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on user-defined
                fees 4. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee5Enabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on user-defined
                fees 5. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
            isInterestOnUserFee6Enabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether to charge interest on user-defined
                fees 6. <br/>The values are:<br/>&nbsp; '0' - Do not charge interest
                (Default) <br/>&nbsp; '1' - Charge interest
              example: '0'
        interestCalculationOptions:
          type: object
          properties:
            accrualMethod:
              maxLength: 1
              type: string
              description: Code that indicates the accrual method CMS uses for interest
                calculations. <br/>The values are:<br/>&nbsp; 'A' - Monthly accrual
                <br/>&nbsp; 'B' - Balance at end of cycle <br/>&nbsp; 'D' - Daily
                accrual (Default) <br/>&nbsp; 'E' - Monthly adjusted ending balance
              example: D
            interestNextStatement:
              maxLength: 1
              type: string
              description: 'Code that indicates how CMS charges interest on new transactions
                posted in the current billing cycle. <br/>The values are:<br/>&nbsp;
                ''A'' - Waive all interest based on the account balance <br/>&nbsp;
                ''B'' - Rebate interest at the account level <br/>&nbsp; ''C'' - Use
                combined grace and cycle interest parameters on Interest Table ->
                03- Combined Grace & Cycle Interest Option <br/>&nbsp; ''D'' - Defer
                interest if a payment is posted prior to the cycle date <br/>&nbsp;
                ''G'' - Accrue and defer interest on new purchase transactions <br/>&nbsp;
                ''L'' - Accrue and defer interest on new purchase transactions <br/>&nbsp;
                ''M'' - Residual interest <br/>&nbsp; ''N'' - Do not charge interest
                (Default) <br/>&nbsp; ''P'' - Waive all plan interest based on plan
                balance <br/>&nbsp; ''Q'' - Rebate interest at the plan level <br/>&nbsp;
                ''R'' - Residual interest <br/>&nbsp; ''S'' - Reserved for future
                user <br/>&nbsp; ''T'' - Interest on RECAPT transaction <br/>&nbsp;
                ''U'' - Charge interest unconditionally <br/>&nbsp; ''Y'' - Charge
                interest <br/>&nbsp; ''Z'' - Interest on RECAPT zero balance '
              example: C
            startInterestOnCreditTransaction:
              maxLength: 1
              type: string
              description: Code that indicates when credit transactions affect the
                calculation of interest. <br/>The values are:<br/>&nbsp; 'T' - Transaction
                date (from the effective date of the transaction) <br/>&nbsp; 'P'
                - Posting date (from the posting date of the transaction) (Default)
              example: T
            startInterestOnDebitTransaction:
              maxLength: 1
              type: string
              description: Code that indicates when interest calculations begin on
                debit transactions. <br/>The values are:<br/>&nbsp; 'S' - Cycle date
                (after billing) <br/>&nbsp; 'T' - Transaction date (effective date
                of the transaction) <br/>&nbsp; 'P' - Posting date of the transaction
                (Default) <br/>&nbsp; 'G' - Greater of the transaction date or the
                cycle date <br/>&nbsp; 'D' - Day after the payment due date
              example: P
            yearBase:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates the year base CMS uses for interest
                calculations. <br/>The values are:<br/>&nbsp; '0' - Actual 365 or
                366 days (Default) <br/>&nbsp; '1' - Fixed 365 days <br/>&nbsp; '2'
                - Fixed 360 days
              example: '0'
        interestControls:
          type: object
          properties:
            allowNsfPaymentReversal:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether an NSF payment reversal should
                be considered in the interest waive decision. <br/>The values are:<br/>&nbsp;
                '0' - Do not allow NSF payment reversal; interest will not be waived
                if an NSF payment reversal occurred (Default) <br/>&nbsp; '1' - Allow
                NSF payment reversals if the net payments received satisfy the account
                or plan beginning balance
              example: '0'
            ceilingLimits:
              type: object
              properties:
                balanceLimit:
                  maxLength: 24
                  type: string
                  description: Balance Limit - Balance limit for FLOOR RATE 1 and
                    CEILING RATE 1 in whole monetary amounts. If you are using both
                    FLOOR RATE 1-2 and CEILING RATE 1–2, the value of this field must
                    be greater than zero.
                  example: $0.00
                ceilingRate1:
                  maxLength: 10
                  type: string
                  description: Maximum allowable interest rate for credit plans using
                    this Interest table if the plan balance is less than or equal
                    to the balance limit.
                  example: 99.99999%
                ceilingRate2:
                  maxLength: 10
                  type: string
                  description: Minimum allowable interest rate for credit plans using
                    this Interest table. Regardless of the value of the rate index,
                    adjusted by the variance, the actual interest rate assessed for
                    credit plans using this Interest table will not fall below this
                    percentage.
                  example: 99.99999%
                floorRate1:
                  maxLength: 10
                  type: string
                  description: Minimum allowable interest rate for credit plans using
                    this Interest table. CMS uses this rate if the plan balance is
                    less than or equal to the value in the LMT 1 field.
                  example: 0.00000%
                floorRate2:
                  maxLength: 10
                  type: string
                  description: Maximum allowable interest rate for credit plans using
                    this Interest table if the plan balance is greater than the balance
                    limit (BALANCE LIMIT).
                  example: 0.00000%
            examineCycleInterestVariance:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether CMS examines the cycle interest
                variance field on the Product entity (EXAMINE CYCLE INTEREST VARIANCE
                on Products -> 14-Product Processing Additional) during disposition
                of interest at cycle. <br/>The values are:<br/>&nbsp; '0' - Do not
                use the cycle interest variance on the Product entity (Default) <br/>&nbsp;
                '1' - Verify that the payment is within the cycle interest variance
                defined on the Product entity
              example: '0'
            interestRounding:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates the rounding method CMS uses to round
                or truncate interest calculations. <br/>The values are:<br/>&nbsp;
                '0' - Standard rounding. If the number that follows the last decimal
                in the currency is 1 to 4, CMS rounds down; if the number is 5 to
                9, CMS rounds up (Default) <br/>&nbsp; '1' - Always round up. If the
                number is 1 to 9, CMS rounds up <br/>&nbsp; '2' - Truncate. CMS does
                not round <br/>&nbsp; '3' - Round, no decimal. CMS rounds to the nearest
                whole monetary unit
              example: '0'
        interestParametersForCombinedGraceAndCycleOptions:
          type: object
          properties:
            currentCycleBeginningThresholdAmount:
              maxLength: 24
              type: string
              description: This field identifies balance threshold that the beginning
                balance must be less than or equal to before interest is waived or
                deferred.
              example: $0.00
            currentCycleEndingThresholdAmount:
              maxLength: 24
              type: string
              description: This field identifies the balance threshold that the ending
                balance must be less than or equal to before interest is deferred
                or waived.
              example: $0.00
            currentCycleInterestBalanceIndicator:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether an account or plan beginning
                balance is used in the interest disposition decisions. <br/>The values
                are:<br/>&nbsp; '0' - Account or plan balance is not considered (Default)
                <br/>&nbsp; '1' - Account balance is considered
              example: '0'
            currentCyclePaidDateQualification:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether the date when the account or
                plan beginning balance is paid is used to qualify the account or plan
                to waive or defer current cycle interest. <br/>The values are:<br/>&nbsp;
                '0' - Not used (Default) <br/>&nbsp; '1' - Beginning balance must
                be paid in full, or within variance, by grace day in order to waive
                or defer interest <br/>&nbsp; '2' - Beginning balance must be paid
                in full, or within variance, by statement day in order to waive or
                defer interest
              example: '0'
            isCurrentCycleBeginBalanceEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field identifies whether the beginning balance is
                considered in the decision to waive or defer interest. <br/>The values
                are:<br/>&nbsp; '0' - Do not use the beginning balance in the waive
                or defer decision process (Default) <br/>&nbsp; '1' - Use the beginning
                balance in the waive or defer decision process
              example: '0'
            isCurrentCycleEndingBalanceEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field identifies whether the ending balance is considered
                in the decision to waive or defer interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the ending balance in the waive or defer decision
                process (Default) <br/>&nbsp; '1' - Use the ending balance in the
                waive or defer decision process
              example: '0'
            isCurrentCycleNsfPaymentReversalEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether an NSF payment reversal should
                be considered in the decision to waive or defer interest for the current
                cycle. <br/>The values are:<br/>&nbsp; '0' - Do not allow NSF payment
                reversal; interest is not waived or deferred if an NSF payment reversal
                occurs (Default) <br/>&nbsp; '1' - Allow NSF payment reversals
              example: '0'
            isPriorCycleBeginBalanceEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field identifies whether the beginning balance is
                considered in the decision to waive interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the beginning balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the beginning balance in the waive
                decision process
              example: '0'
            isPriorCycleEndingBalanceEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field identifies whether the ending balance is considered
                in the decision to waive interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the ending balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the ending balance in the waive decision
                process
              example: '0'
            isPriorCycleNsfPaymentReversalEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether an NSF payment reversal should
                be considered in the decision to waive interest for the prior cycle.
                <br/>The values are:<br/>&nbsp; '0' - Do not allow NSF payment reversal;
                interest is not waived if an NSF payment reversal occurs (Default)
                <br/>&nbsp; '1' - Allow NSF payment reversals
              example: '0'
            isPriorDeferredBeginBalanceEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field identifies whether the beginning balance is
                considered in the waive decision. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the beginning balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the beginning balance in the waive
                decision process
              example: '0'
            isPriorDeferredEndingBalanceEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field identifies whether the ending balance is considered
                in the waive decision. <br/>The values are:<br/>&nbsp; '0' - Do not
                use the ending balance in the waive decision process (Default) <br/>&nbsp;
                '1' - Use the ending balance in the waive decision process
              example: '0'
            isPriorDeferredNsfPaymentReversalEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether an NSF payment reversal should
                be considered in the interest waive decision for prior deferred interest.
                <br/>The values are:<br/>&nbsp; '0' - Do not allow NSF payment reversal;
                interest is not waived if an NSF payment reversal occurs (Default)
                <br/>&nbsp; '1' - Allow NSF payment reversals
              example: '0'
            isResidualInterestBeginBalanceEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field identifies whether the beginning balance is
                considered in the decision to waive interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the beginning balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the beginning balance in the waive
                decision process
              example: '0'
            isResidualInterestEndingBalanceEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: This field identifies whether the ending balance is considered
                in the decision to waive interest. <br/>The values are:<br/>&nbsp;
                '0' - Do not use the ending balance in the waive decision process
                (Default) <br/>&nbsp; '1' - Use the ending balance in the waive decision
                process
              example: '0'
            isResidualInterestNsfPaymentReversalEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether an NSF payment reversal should
                be considered in the decision to waive residual interest. <br/>The
                values are:<br/>&nbsp; '0' - Do not allow NSF payment reversal; interest
                is not waived if an NSF payment reversal occurs (Default) <br/>&nbsp;
                '1' - Allow NSF payment reversals
              example: '0'
            isWaiveCurrentCycleInterestEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether current cycle interest should
                be waived or deferred if specific account conditions are met. <br/>The
                values are:<br/>&nbsp; '0' - Always bill deferred interest from the
                current cycle (Default) <br/>&nbsp; '1' - Waive current cycle interest
                if waive conditions are met <br/>&nbsp; '2' - Defer current cycle
                interest if defer conditions are met <br/>&nbsp; '3' - Defer current
                cycle interest unconditionally
              example: '0'
            isWaivePriorCycleInterestEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether prior cycle interest should
                be waived if specific account conditions are met. <br/>The values
                are:<br/>&nbsp; '0' - Always bill prior cycle interest (Default) <br/>&nbsp;
                '1' - Waive prior cycle interest if waive conditions are met
              example: '0'
            isWaivePriorDeferredInterestEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether interest deferred in the prior
                cycle should be waived if specific account conditions are met. <br/>The
                values are:<br/>&nbsp; '0' - Always bill deferred interest from prior
                cycle (Default) <br/>&nbsp; '1' - Waive deferred interest from prior
                cycle if waive conditions are met
              example: '0'
            isWaiveResidualInterestEnabled:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether residual interest should be
                waived if specific account conditions are met. <br/>The values are:<br/>&nbsp;
                '0' - Always bill residual interest (Default) <br/>&nbsp; '1' - Waive
                residual interest if waive conditions are met <br/>&nbsp; '2' - Defer
                residual interest
              example: '0'
            priorCycleBeginningThresholdAmount:
              maxLength: 24
              type: string
              description: This field identifies the balance threshold that the beginning
                balance must be less than or equal to before interest is waived.
              example: $0.00
            priorCycleEndingThresholdAmount:
              maxLength: 24
              type: string
              description: The second part of the field is the balance threshold that
                the ending balance must be less than or equal to before interest is
                waived.
              example: $0.00
            priorCycleInterestBalanceIndicator:
              maximum: 9
              maxLength: 1
              type: integer
              description: 'Code that indicates whether an account or plan beginning
                balance is used in the interest disposition decisions. <br/>The values
                are:<br/>&nbsp; ''0'' - Account or plan balance is not considered
                (Default) <br/>&nbsp; ''1'' - Account balance is considered '
              example: '0'
            priorCyclePaidDateQualification:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether the date when the account or
                plan beginning balance is paid is used to qualify the account or plan
                to waive prior cycle interest. <br/>The values are:<br/>&nbsp; '0'
                - Not used (Default) <br/>&nbsp; '1' - Beginning balance must be paid
                in full, or within variance, by grace day in order to waive interest
                <br/>&nbsp; '2' - Beginning balance must be paid in full, or within
                variance, by statement day in order to waive interest
              example: '0'
            priorDeferredBeginningThresholdAmount:
              maxLength: 24
              type: string
              description: This field indicates the balance threshold that the beginning
                balance must be less than or equal to before interest is waived.
              example: $0.00
            priorDeferredEndingThresholdAmount:
              maxLength: 24
              type: string
              description: This field identifies the balance threshold that the ending
                balance must be less than or equal to before interest is waived.
              example: $0.00
            priorDeferredInterestBalanceIndicator:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether an account or plan beginning
                balance is used in the interest disposition decisions. <br/>The values
                are:<br/>&nbsp; '0' - Account balance is considered <br/>&nbsp; '1'
                - Plan balance is considered
              example: '0'
            priorDeferredPaidDateQualification:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether the date when the account or
                plan beginning balance is paid is used to qualify the account or plan
                to waive interest. <br/>The values are:<br/>&nbsp; '0' - Not used
                (Default) <br/>&nbsp; '1' - Beginning balance must be paid in full,
                or within variance, by grace day in order to waive interest <br/>&nbsp;
                '2' - Beginning balance must be paid in full, or within variance,
                by statement day in order to waive interest
              example: '0'
            residualInterestBalanceIndicator:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether an account or plan beginning
                balance is used in the interest disposition decisions. <br/>The values
                are:<br/>&nbsp; '0' - Account or plan balance is not considered (Default)
                <br/>&nbsp; '1' - Account balance is considered <br/>&nbsp; '2' -
                Plan balance is considered
              example: '0'
            residualInterestBeginningThresholdAmount:
              maxLength: 24
              type: string
              description: This field identifies balance threshold that the beginning
                balance must be less than or equal to before interest is waived.
              example: $0.00
            residualInterestEndingThresholdAmount:
              maxLength: 24
              type: string
              description: This field identifies balance threshold that the ending
                balance must be less than or equal to before interest is waived.
              example: $0.00
            residualInterestPaidDateQualification:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates whether the date when the account or
                plan beginning balance is paid is used to qualify the account or plan
                to waive residual interest. <br/>The values are:<br/>&nbsp; '0' -
                Not used (Default) <br/>&nbsp; '1' - Beginning balance must be paid
                in full, or within variance, by grace day in order to waive interest
                <br/>&nbsp; '2' - Beginning balance must be paid in full, or within
                variance, by statement day in order to waive interest
              example: '0'
            transactionQualification:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that identifies the type of transactions that qualify
                an account or plan balance as paid in full. <br/>The values are:<br/>&nbsp;
                '0' - All credit transaction codes (Default) <br/>&nbsp; '1' - Only
                payment transaction codes <br/>&nbsp; '2' - Net payment transactions
                within grace days <br/>&nbsp; '3' - Net payment transactions within
                a cycle <br/>&nbsp; '4' - Net credit transactions within grace days
              example: '0'
        interestRates:
          type: object
          properties:
            limit1:
              maxLength: 24
              type: string
              description: Account balance limit for interest rates in the RATE 1
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $999,999,999,999,999.00
            limit2:
              maxLength: 24
              type: string
              description: Account balance limit for interest rates in the RATE 2
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            limit3:
              maxLength: 24
              type: string
              description: Account balance limit for interest rates in the RATE 3
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            limit4:
              maxLength: 24
              type: string
              description: Account balance limit for interest rates in the RATE 4
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            limit5:
              maxLength: 24
              type: string
              description: Account balance limit for interest rates in the RATE 5
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            limit6:
              maxLength: 24
              type: string
              description: Account balance limit for interest rates in the RATE 6
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            limit7:
              maxLength: 24
              type: string
              description: Account balance limit for interest rates in the RATE 7
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            limit8:
              maxLength: 24
              type: string
              description: Account balance limit for interest rates in the RATE 8
                field or for each of the corresponding variance rates in the VARIANCE
                fields. The valid entries in LIMIT 1–8 depend on the rate type assigned
                to the Interest table.
              example: $0.00
            rate1:
              maxLength: 10
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT1 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            rate2:
              maxLength: 10
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT2 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            rate3:
              maxLength: 10
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT3 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            rate4:
              maxLength: 10
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT4 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            rate5:
              maxLength: 10
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT5 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            rate6:
              maxLength: 10
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT6 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            rate7:
              maxLength: 10
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT7 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            rate8:
              maxLength: 10
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT8 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            rate9:
              maxLength: 10
              type: string
              description: Interest rate that CMS charges on account balances not
                greater than the amount in the LIMIT9 field. Interest rate must be
                within the floor rate and the ceiling rate assigned to the Interest
                table.
              example: 0.00000%
            rateIndexTable:
              maximum: 999
              maxLength: 3
              type: integer
              description: Code that identifies the rate index within the associated
                Rate Index Table that determines the base rate. <br/>The values are:<br/>&nbsp;
                '0' - Do not use a rate index <br/>&nbsp; '1' to '998' - Rate index
                number to use
              example: '6'
            rateType:
              maxLength: 1
              type: string
              description: Code that indicates the type of interest rate. <br/>The
                values are:<br/>&nbsp; 'F' - Fixed rate. The interest rate is the
                base rate <br/>&nbsp; 'T' - Tiered rate. The rate is determined based
                upon the balance limit <br/>&nbsp; 'U' - Tiered variable rate. The
                interest rate is determined by tiers with a variance applied <br/>&nbsp;
                'V' - Variable rate. The interest rate may have a variance applied
                <br/>&nbsp; 'Z' - Interest free
              example: F
            tierLimitIndicator:
              maximum: 9
              maxLength: 1
              type: integer
              description: Code that indicates how to handle tier limits. <br/>The
                values are:<br/>&nbsp; '0' - Charge separate rate for balances within
                each limit <br/>&nbsp; '1' - Charge rate at highest limit in which
                balance falls (Default)
              example: '0'
            variance1:
              maxLength: 10
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 8.99000%
            variance2:
              maxLength: 10
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            variance3:
              maxLength: 10
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            variance4:
              maxLength: 10
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            variance5:
              maxLength: 10
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            variance6:
              maxLength: 10
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
                field determines whether the variance rate is added to or subtracted
                from the base rate. The base rate is determined by the index rate
                assigned to the Interest table.
              example: 0.00000%
            variance7:
              maxLength: 10
              type: string
              description: Variance rate that CMS adds to or subtracts from the base
                rate to determine the interest rate charged. The corresponding +/–
[...]
