openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.9.0
servers:
- url: https://stg34.visionplus.io/sandbox/
tags:
- name: User Management
paths:
  /v1/users/access:
    get:
      description: This API is used to fetch sign-on data like business unit include/exclude
        flags and user application access options for a given security sign-on details.
      operationId: InquireUserAccess
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Identification number, referred to as Client ID, assigned to
          your institution by the processor.
        in: query
        name: clientId
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '1'
      - description: Sign-on name that the person assigned this User Security Signon
          entity will use to sign on to the system. The sign-on name can consist of
          letters (A–Z), numbers (0–9), and embedded spaces, but not a leading space.
          When adding a new Sign-on entity, the sign-on name must be a unique name
          not already assigned to any existing User Security Sign-on entity for your
          institution (client ID).
        in: query
        name: name
        required: true
        schema:
          maxLength: 15
          type: string
          example: NABTEST25
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireUserAccessV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: This service is used to inquire additional field for security Sign-on
        entity. A User Security Sign-on entity, also referred to as a Sign-on entity,
        holds the details that determine a person’s access rights on the system
      tags:
      - User Management
      x-group-name: User Management
      x-proxy-name: Inquire User Access
    put:
      description: This API is used to update sign-on data like business unit include/exclude
        flags and user application access options for a given security sign-on details.
      operationId: UpdateUserAccess
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserAccessV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserAccessV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: This service is used to update additional field for security Sign-on
        entity. A User Security Sign-on entity, also referred to as a Sign-on entity,
        holds the details that determine a person’s access rights on the system
      tags:
      - User Management
      x-group-name: User Management
      x-proxy-name: Update User Access
  /v1/users/boardUser:
    post:
      description: This API is used to add new security sign-on entity. This newly
        created entity determine the person’s access rights on the system. Sign-on
        entity must be setup and active for each person authorized to access the system.
      operationId: AddUser
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - description: Client specified identifier to recognize subsequent retries of
          the same request.
        in: header
        name: Idempotency-Key
        required: false
        schema:
          maxLength: 50
          type: string
          example: 1234567895e72403cb9c18deb25e06f8a
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserV1ReqModel'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '409':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request conflicts with another request "
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: This service is used to add new security Sign-on entity. A User Security
        Sign-on entity, also referred to as a Sign-on entity, holds the details that
        determine a person’s access rights on the system
      tags:
      - User Management
      x-group-name: User Management
      x-proxy-name: Add User
  /v1/users/inquireUser:
    get:
      description: This API is used to fetch generic details like status, expiry date
        etc. and service privileged details for a given security sign-on details.
      operationId: InquireUser
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Identification number, referred to as Client ID, assigned to
          your institution by the processor.
        in: query
        name: clientId
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '1'
      - description: Sign-on name that the person assigned this User Security Signon
          entity will use to sign on to the system. The sign-on name can consist of
          letters (A–Z), numbers (0–9), and embedded spaces, but not a leading space.
          When adding a new Sign-on entity, the sign-on name must be a unique name
          not already assigned to any existing User Security Sign-on entity for your
          institution (client ID).
        in: query
        name: name
        required: true
        schema:
          maxLength: 15
          type: string
          example: NABTEST25
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireUserV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: This service is used to inquire security Sign-on entity. A User Security
        Sign-on entity, also referred to as a Sign-on entity, holds the details that
        determine a person’s access rights on the system.
      tags:
      - User Management
      x-group-name: User Management
      x-proxy-name: Inquire User
  /v1/users/updateUser:
    put:
      description: This API is used to update generic details like status, expiry
        date etc. and service privileged details for a given security sign-on details.
      operationId: UpdateUser
      parameters:
      - description: Token is used in token-based authentication to allow an application
          to access an API.
        in: header
        name: Authorization
        required: true
        schema:
          maxLength: 1200
          type: string
          example: Bearer eyJhbGciOiJSUzI1NiJ9.eyJzY29wZSI6ImFsbCIsImNsaWVudF9pZCI6InZpc2lvbi1hcGktdXNlciIsImZpcnN0VmlzaW9uSWQiOiIwMDAwMUFVTkFCIiwiZXhwIjoxNzUwMzU3ODAwfQ.PE6pl2aXjwvBZMXN-iJuktDRAzzZWsQgfNdJNeNXxDocG-0npHbACrl17h7wpnYxiXv1jBHa6XT19Vo_UXItel2pYIBXR8IC5LiNgnVus5BxgZNaOtUtP6zLmoc8ohUUUkim5UE663AJDzO6yCpdwDkHxrmPhiWzNXTZcLxErZDXlUqz6isSUxGREwQkZ5EqF4DbZD4SKuqj-mo7g_QExlae9zjilZGeECTGIxeG8AYsmv7EugATOB6ROBGmFR3STViEUAWFBZqd6M48yt_FLYNxWCT6-SdXSlpUk2q-AWv2_CNxHq3NSjPQrxet71I4Uzu9DZEKoPyZOMMTPvkx1g
      - description: Client specified identifier to correlate the request with the
          response of the API within their application. Any value passed in the request
          message will be return back as-is in the API response message.
        in: header
        name: x-client-correlation-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified trace-id to track the request within their application.
          Any value passed in the request message will be return back as-is in the
          API response message.
        in: header
        name: x-client-trace-id
        required: false
        schema:
          maxLength: 256
          type: string
          example: ABC123
      - description: Client specified identifier of the channel that initiated the
          API request. Any value passed in the request message will be return back
          as-is in the API response message.
        in: header
        name: x-client-source-channel
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Client specified identifier of their user** that initiated the
          API request.  Any value passed in the request message will be return back
          as-is in the API response message.<BR><BR><i>**The value passed in this
          field will not be used for any Identity and access management</i>
        in: header
        name: x-client-user-id
        required: false
        schema:
          maxLength: 40
          type: string
          example: ABC123
      - description: Identification number, referred to as Client ID, assigned to
          your institution by the processor.
        in: query
        name: clientId
        required: true
        schema:
          maximum: 99999
          maxLength: 5
          type: integer
          example: '1'
      - description: Sign-on name that the person assigned this User Security Signon
          entity will use to sign on to the system. The sign-on name can consist of
          letters (A–Z), numbers (0–9), and embedded spaces, but not a leading space.
          When adding a new Sign-on entity, the sign-on name must be a unique name
          not already assigned to any existing User Security Sign-on entity for your
          institution (client ID).
        in: query
        name: name
        required: true
        schema:
          maxLength: 15
          type: string
          example: NABTEST25
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserV1ReqModel'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserV1ResponseModel'
          description: " \nSuccess"
        '400':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request cannot be validated"
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request was unauthorized"
        '403':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource is forbidden for user"
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request resource does not exist"
        '422':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request could not be processed"
        '500':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nAn unexpected internal server error occurred"
        '503':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe service was unavailable"
        '504':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseErrorMessageInfo'
          description: " \nThe request timed out while waiting for a response"
      security:
      - Authorization: [
          ]
      summary: This service is used to update security Sign-on entity. A User Security
        Sign-on entity, also referred to as a Sign-on entity, holds the details that
        determine a person’s access rights on the system.
      tags:
      - User Management
      x-group-name: User Management
      x-proxy-name: Update User
components:
  schemas:
    AddUserV1ReqModel:
      required:
      - activationDate
      - businessUnitPrivilegeId
      - clientId
      - customerServiceBusinessUnit
      - name
      - operatorId
      - servicePrivilegeGroupId
      - signonExpiryDate
      type: object
      properties:
        activationDate:
          maxLength: 10
          type: string
          description: Activation date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid past or current date. This field enables a Sign-on entity
            to be added and assigned a future activation date so that the entiry is
            automatically active on that future date, The format is MM/DD/YYYY or
            DD/MM/YYYY depending on the DATE FORMAT on System Control.
          example: 27/02/2022
        applicationAccountManagement:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationAuthorizations:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationClientSupport:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationCommercialCard:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationConnectionManager:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationCtryCurrencyCatCodes:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationCustomerCommunicationManagement:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationCustomerService:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationEmbScriptingSystem:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationExceptionProcessing:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationFutureUse03:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationFutureUse27:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationFutureUse28:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationFutureUse30:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationInternationalLanguage:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationKeyManagementSystem:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationLetterRequests:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationMerchantSettlement:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationOfferManagement:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationProcessing:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationRemoteInterface:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationRewardManagement:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationSecurity:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationTransactionManagement:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode29:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationpDecisionEngineSystem:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        businessUnitIncludeExcludeFlag01:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitIncludeExcludeFlag02:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitIncludeExcludeFlag03:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitIncludeExcludeFlag04:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitIncludeExcludeFlag05:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitIncludeExcludeFlag06:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitIncludeExcludeFlag07:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitIncludeExcludeFlag08:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitIncludeExcludeFlag09:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitIncludeExcludeFlag10:
          type: object
          properties:
            businessUnit:
              maxLength: 3
              type: string
              description: Unique identification number associated with the organization
                assigned to this User Security Sign-on entity.
              example: ' '
            inclusionExclusionFlag:
              maxLength: 1
              type: string
              description: Code that indicates whether to include or exclude access
                rights to the organization number(s) listed in the corresponding ORG
                field, or to delete the organization number(s) from the list on this
                screen. <br/>The value are:<br/>&nbsp; 'D' or ' ' = Delete the organization
                in the corresponding Organization field. If you enter a space in this
                field to delete a organization, you must also enter spaces in the
                corresponding organization field to completely write over the entries
                to be deleted <br/>The value are:<br/>&nbsp; 'E' = Exclude access
                rights to the organization listed in the corresponding Organization
                field <br/>&nbsp; 'I' = Include access rights to the organization
                listed in the corresponding Organization fields
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
        businessUnitPrivilegeId:
          maxLength: 8
          type: string
          description: Name that identifies an existing organization privilege group
            assigned to this User Security Sign-on entity. This organization privilege
            group determines the organizations that can be accessed by the person
            who signs on with this Sign-on entity. An organization privilege group
            assigned to a Sign-on entity must have the same client ID and security
            type as the Sign-on entity. Access rights to additional organizations
            can be included or excluded using the I/E and ORG fields, which are listed
            on this screen under the ORG INCLUDE/EXCLUDE heading.
          example: CLTUSER
        clientId:
          maximum: 99999
          maxLength: 5
          type: integer
          description: Identification number, referred to as Client ID, assigned to
            your institution by the processor.
          example: '1'
        customerServiceBusinessUnit:
          maximum: 999
          maxLength: 3
          type: integer
          description: Customer service representative business unit number assigned
            to this administrator or user for reporting purposes in the Account Services
            Management (ASM) application. This field is required for all Client Users
            (type 5) and must be an business unit number (1–998).
          example: '100'
        name:
          maxLength: 15
          type: string
          description: Sign-on name that the person assigned this User Security Signon
            entity will use to sign on to the system. The sign-on name can consist
            of letters (A–Z), numbers (0–9), and embedded spaces, but not a leading
            space. When adding a new Sign-on entity, the sign-on name must be a unique
            name not already assigned to any existing User Security Sign-on entity
            for your institution (client ID).
          example: NABTEST25
        operatorId:
          maxLength: 3
          type: string
          description: 'Code that identifies the person who signs on with this User
            Security Sign-on record. The operator ID displays throughout the system
            on service and reports to serve as an audit trail for all maintenance
            entered by this administrator or user. '
          example: ABC
        servicePrivilegeGroupId:
          maxLength: 8
          type: string
          description: Name that identifies an existing service privilege group assigned
            to this User Security Sign-on entity. This service privilege group determines
            the services that can be accessed by the person who signs on with this
            Sign-on entity.
          example: CLTUSER
        signonExpiryDate:
          maxLength: 10
          type: string
          description: Expiration date of the User Security Sign-on entity. The default
            value is zeros. The Sign-on entity cannot be used to sign on unless this
            field is a valid future date. On the expiration date, the system sets
            this field to zero. When this field is zero, signon attempts fail and
            are reported on the Security Violations Report (T130). This date must
            be changed to a valid future expiration date to enable the Sign-on entity
            to be used for signing on again, The format is MM/DD/YYYY or DD/MM/YYYY
            depending on the DATE FORMAT on System Control.
          example: 31/12/2025
        sourceGroupType:
          maximum: 9
          maxLength: 1
          type: integer
          description: Code that identifies the source group assigned to this User
            Security Sign-on entity. Each source group defines a set of security parameters
            established by the processor in the Client Options entiry for your institution.
          example: '2'
        supervisorId:
          maxLength: 3
          type: string
          description: Supervisor ID of the person who signs on with this User Security
            Sign-on record.
          example: ' '
        userServicePrivilege01:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' = Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' = Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' = Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege02:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' = Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' = Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' = Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege03:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' = Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' = Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' = Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege04:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' = Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' = Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' = Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege05:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' = Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' = Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' = Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege06:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' = Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' = Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' = Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege07:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' = Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' = Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' = Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege08:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' = Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' = Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' = Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege09:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' = Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' = Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' = Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
        userServicePrivilege10:
          type: object
          properties:
            serviceInclusionExclusionflag:
              maxLength: 1
              type: string
              description: 'Code that indicates whether to include or exclude access
                rights to the service listed in the corresponding SERVICE NAME and
                VERSION fields, or to delete the service name and version from the
                list on this screen. <br/> The values are: <br/>&nbsp; ''D'' or ''
                '' - Delete the service name and version in the corresponding SERVICE
                NAME and SERVICE VERSION fields from the list on this page <br/>&nbsp;
                ''E'' - Exclude access rights to the service listed in the corresponding
                SERVICE NAME and SERVICE VERSION fields <br/>&nbsp; ''I'' - Include
                access rights to the service listed in the corresponding SERVICE NAME
                and SERVICE VERSION fields'
              example: ' '
              enum:
              - I
              - E
              - D
              - ' '
            serviceName:
              maxLength: 30
              type: string
              description: Service name assigned to this User Security Sign-on entity.
                The corresponding I/E field indicates whether to include or exclude
                access rights to this service. Access rights to this service are in
                addition to the access rights granted by the service privilege group
                that is assigned to this Sign-on entity in the SERVICE PRIVILEGE field.
                The service name in this field and the service version in the corresponding
                VERSION field must identify an existing service that was previously
                added by the processor.
              example: ' '
            serviceVersion:
              maxLength: 6
              type: string
              description: Service version assigned to this User Security Sign-on
                entity. The service version in this field and the service name in
                the corresponding SERVICE NAME field must identify an existing service
                that was previously added by the processor.
              example: ' '
    AddUserV1ResponseModel:
      type: object
    InquireUserAccessV1ResponseModel:
      type: object
      properties:
        applicationAccountManagement:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationAuthorizations:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationBusinessMessaging:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationClientSupport:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationCollectionManagement:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs. The values are a letter (A–Z), a number (0–9), or
                space.
              example: ' '
        applicationCommercialCard:
          type: object
          properties:
            fieldSecurityCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
                within programs or that identifies a Field Security entity in the
                Credit Management System (CMS) and/or Merchant Bankcard System (MBS)
                applications. The values are a letter (A–Z), a number (0–9), or space.
              example: ' '
            userCode:
              maxLength: 1
              type: string
              description: User-defined code that provides access to custom code features
[...]
